/*==========  Desktop First Method  ==========*/

 

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

	.header-menu .header-menu__link{
		padding-left: 14px;
		padding-right: 14px;
	}
	.header-reg .header-top__menu:not(.header-top__menu--reg){
		margin-right: 0;
	}
	.news-subscribe{
		margin-top: 33px;
	}
	.news-subscribe__body input{
		flex: 1 1 auto;
		margin-right: 26px;
	}
	.news-subscribe__body .button{
		margin-left: 0;
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
/**/
	.header-reg{
		.header-top{
			.toggle-mnu{
				display: block;
			}
		}

		.header-top__menu--text{
			display: none;
			padding-top: 15px;
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 100;
			background-color: #fff;
			li{
				display: block;
				margin-bottom: 12px;

				a{
					height: auto;
					line-height: normal;
					font-size: 13px;
					color: #9f9f9f;

					&:hover, &:active{
						background-color: transparent;
						text-decoration: underline;

						&:before{
							display: none;
						}
					}

				}
			}
		}
	}
	.header-top__menu{
		margin-right: 0;
	}
	.header-banner{
		display: none;
	}
	.header-right-mob{
		display: block;	
		text-align: right;	
		.add-news{

		}
	}
	.header-middle__inner{
		padding-bottom: 10px;
	}
	.header-bottom__inner{
		.add-news{
			display: none;
		}
	}

	.header-bottom{
		// .sf-menu li:hover > ul, .sf-menu li.sfHover > ul{
		// 	display: -webkit-flex;
		// 	display: -moz-flex;
		// 	display: -ms-flex;
		// 	display: -o-flex;
		// 	display: flex;
		// }
		
	}
	.header-menu .header-menu__sublink{
		padding-top: 5px;
		padding-bottom: 5px;
		white-space: pre-line;
		text-align: center;
	}

	.right-sidebar{
		.li-search{
			display: none;	
		}
	}
	.news-items{
		height: 417px;
	}
}
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.header-bottom__inner{
		display: block;	
		margin-bottom: 0;
	}
	.header-bottom{
		.sf-navbar:before{
			display: none;
		}
		
	}
	.header-menu li{
		display: block;
	}
	.sf-menu > li{
		float: none;
		width: 100%;
	}
	.header-menu .header-menu__link span{
		display: inline-block;
		vertical-align: middle;	
	}
	.sf-menu{
		float: none;
	}
	.sf-menu ul{
		position: relative;	
	}
	.sf-navbar > li > ul > li{
		float: none;
	}
	.header-menu .header-menu__val{
		margin-right: 15px;	
	}
	.header-menu .header-menu__sublink{
		text-align: left;
	}
	.header-bottom__inner{
		background-color: #eaeaea;
	}
	.header-menu li.active .header-menu__link{
		background-color: transparent;
	}
	.header-menu .header-menu__link .header-menu__val{
		color: $blue;
	}
	.header-menu .header-menu__link:hover, .header-menu .header-menu__link:active{
		background-color: #eaeaea;
	}
	.header-bottom{
		.sf-navbar > li > ul{
			padding-bottom: 15px;
			border-bottom: 1px solid #DCDCDC;
		}
	}
	.header-menu .header-menu__sublink{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.header-menu .header-menu__link{
		padding-left: 25px;
		border: 1px solid #DCDCDC;
		border-top: none;

		&.opened{
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	.header-menu li.active .header-menu__link{
		border-right-color: transparent;
		border-left-color: transparent;
	}
	.header-logo{
		margin-bottom: 20px;
	}
	.header-middle__inner{
		flex-wrap: wrap;
		padding-bottom: 15px;
	}
	.header-right-mob{
		width: 100%;

		.li-search{
			width: 100%;
		}
		.add-news{
			display: block;
		}
		.news-subscribe{
			display: block;
			margin-top: 15px;
			text-align: left;
		}
	}
	.news-subscribe__body input{
		margin-right: 8px;
	}
	.header-top-inner{
		position: relative;
	}
	.header-top__menu--text{
		display: none;
		padding-top: 15px;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 100;
		background-color: #fff;
		li{
			display: block;
			margin-bottom: 12px;

			a{
				height: auto;
				line-height: normal;
				font-size: 13px;
    			color: #9f9f9f;

    			&:hover, &:active{
    				background-color: transparent;
    				text-decoration: underline;

    				&:before{
    					display: none;
    				}
    			}
    			
			}
		}
	}
	.header-top{
		.toggle-mnu{
			display: block;
		}
	}
	.header-reg{
		.header-top-inner{
			flex-wrap:wrap;
			justify-content: space-between;
		}
	}
	.header-enter--reg{
		width: auto;
		span{
			font-size: 10px;
		}
	}
	.news-block{
		margin-top: 30px;
		.news-subscribe{
			display: none;
		}
	}
	.sf-arrows .sf-with-ul:after{
		display: block;
	}

	// .header-enter{
	// 	display: none;
	// }

	// .header-bottom .sf-navbar > li > ul
	// .header-menu .header-menu__link:hover:before, 
	// .header-menu .header-menu__link:active:before{
	// 	display: none;
	// }
	/*Disable Animation on Mobile Devices*/
// 	.animated{

// 		/*CSS transitions*/
// 		-o-transition-property: none !important;
// 		-moz-transition-property: none !important;
// 		-ms-transition-property: none !important;
// 		-webkit-transition-property: none !important;
// 		transition-property: none !important;
// 		/*CSS transforms*/
// 		-o-transform: none !important;
// 		-moz-transform: none !important;
// 		-ms-transform: none !important;
// 		-webkit-transform: none !important;
// 		transform: none !important;
// 		/*CSS animations*/
// 		-webkit-animation: none !important;
// 		-moz-animation: none !important;
// 		-o-animation: none !important;
// 		-ms-animation: none !important;
// 		animation: none !important;
// 	}
}


	
@media only screen and (max-width : 576px){
	
	.news-block{
		margin-bottom: 30px;
	}
	.news-items{
		height: 300px;
	}
	.blogs-previews__banner,
	.li-banners-wrapper{
		display: none;
	}
	.day-theme{
		margin-top: 0;
	}
	.day-theme__slider .slick-slide{
		margin-right: 0;
	}
	.day-theme__slide{
		display: block !important;

		.li-portrait{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
		.day-theme__slide-text{
			margin-left: 0;

			.li-person-name{
				text-align: center;
			}
		}
	}
	.day-theme__bottom .li-red-link{
		top: 0;
	}
	.blogs-previews__item{
		.li-portrait{
			margin-left: auto;
			margin-right: auto;
		}
		.li-person-name{
			text-align: center;
		}
	}
	.blogs-previews__item-info{
		text-align: center;
	}
}
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
/**/
	.header-enter{
		display: none;
	}
	.day-theme__bottom{
		margin-top: 40px;
	}
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
/**/
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
	.header-top__menu--not-autor{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
	}

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
	.header-top__menu--author{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}




