/*==========  Desktop First Method  ==========*/

 

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

	.header-menu .header-menu__link{
		padding-left: 14px;
		padding-right: 14px;
	}
	.header-reg .header-top__menu:not(.header-top__menu--reg){
		margin-right: 0;
	}
	.news-subscribe{
		margin-top: 33px;
	}
	.news-subscribe__body input{
		flex: 1 1 auto;
		margin-right: 26px;
	}
	.news-subscribe__body .button{
		margin-left: 0;
	}
	.blog-card__rating{
		position: absolute;
		right: 0;
		top: 61px;
	}
	.block-card__stat{
		margin-right: 15px;
	}
	.companies-list table .companies-list__avatar{
		width: 70px;
	}
	.companies-list table .companies-list__img{
		width: 70px;
		height: 70px;
	}
	.companies-form{
		flex-wrap: wrap;

		.button-micro{
			margin-left: auto;
			margin-right: auto;
		}
	}
	.companies-form .li-form-label{
		margin-bottom: 8px;
		margin-right: 0;
	}
	.companies-form .companies-form__name,
	.companies-form .companies-form__sphere,
	.companies-form .companies-form__country,
	.companies-form .companies-form__location{
		max-width: initial;
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
/**/
	.header-reg{
		.header-top{
			.toggle-mnu{
				display: block;
			}
		}

		.header-top__menu--text{
			display: none;
			padding-top: 15px;
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 100;
			background-color: #fff;
			li{
				display: block;
				margin-bottom: 12px;

				a{
					height: auto;
					line-height: normal;
					font-size: 13px;
					color: #9f9f9f;

					&:hover, &:active{
						background-color: transparent;
						text-decoration: underline;

						&:before{
							display: none;
						}
					}

				}
			}
		}
	}
	.header-top__menu{
		margin-right: 0;
	}
	.header-banner{
		display: none;
	}
	.header-right-mob{
		display: block;	
		text-align: right;	
		.add-news{

		}
	}
	.header-middle__inner{
		padding-bottom: 10px;
	}
	.header-bottom__inner{
		.add-news{
			display: none;
		}
	}

	.header-bottom{
		// .sf-menu li:hover > ul, .sf-menu li.sfHover > ul{
		// 	display: -webkit-flex;
		// 	display: -moz-flex;
		// 	display: -ms-flex;
		// 	display: -o-flex;
		// 	display: flex;
		// }
		
	}
	.header-menu .header-menu__sublink{
		padding-top: 5px;
		padding-bottom: 5px;
		white-space: pre-line;
		text-align: center;
	}

	.right-sidebar{
		.li-search{
			display: none;	
		}
	}
	.news-items{
		height: 417px;
	}
	.sidebar-multi-wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		
		&--for-buttons{
			// display: block;

			.sidebar-iconed-title{
				width: 270px;
				padding-right: 15px;


			}
			.sidebar-company{
				margin-left: 15px;
				width: 270px;
			}

		}
	}
	.footer-top__columns{
		justify-content: flex-start;
	}
	.footer-column--vk{
		display: none;
	}
	.footer-cookies{
		top: auto;
		bottom: -12px;
	}
	.footer-socials-links{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.blog-card__rating span.blog-rating-count{
		padding: 3px 7px;

	}
	.blog-card__header{
		margin-bottom: 10px;
	}
	.blog-card__header h2{
		margin-bottom: 4px;
	}
	// .breadcrumbs{
	// 	margin-top: 30px;
	// }
	.categories-menu-block--mob{
		display: block;
		padding-top: 40px;
	}
	.right-sidebar{
		.categories-menu-block{
			display: none;
		}
	}
	.discussion-form{
		margin-bottom: 30px;
	}
	.companies-list table .companies-list__avatar{
		width: 130px;
	}
	.companies-list table .companies-list__img{
		width: 130px;
		height: 130px;
	}

}
	
@media only screen and (max-width : 991px){
	.blog-post-discussion{
		margin-bottom: 25px;
	}
}
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.breadcrumbs{
		margin-top: 7px;
	}
	.header-bottom__inner{
		display: block;	
		margin-bottom: 0;
	}
	.header-bottom{
		.sf-navbar:before{
			display: none;
		}
		
	}
	.header-menu li{
		display: block;
	}
	.sf-menu > li{
		float: none;
		width: 100%;
	}
	.header-menu .header-menu__link span{
		display: inline-block;
		vertical-align: middle;	
	}
	.sf-menu{
		float: none;
	}
	.sf-menu ul{
		position: relative;	
	}
	.sf-navbar > li > ul > li{
		float: none;
	}
	.header-menu .header-menu__val{
		margin-right: 15px;	
	}
	.header-menu .header-menu__sublink{
		text-align: left;
	}
	.header-bottom__inner{
		background-color: #eaeaea;
	}
	.header-menu li.active .header-menu__link{
		background-color: transparent;
	}
	.header-menu .header-menu__link .header-menu__val{
		color: $blue;
	}
	.header-menu .header-menu__link:hover, .header-menu .header-menu__link:active{
		background-color: #eaeaea;
	}
	.header-bottom{
		.sf-navbar > li > ul{
			padding-bottom: 15px;
			border-bottom: 1px solid #DCDCDC;
		}
	}
	.header-menu .header-menu__sublink{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.header-menu .header-menu__link{
		padding-left: 25px;
		border: 1px solid #DCDCDC;
		border-top: none;

		&.opened{
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	.header-menu li.active .header-menu__link{
		border-right-color: transparent;
		border-left-color: transparent;
	}
	.header-logo{
		margin-bottom: 20px;
	}
	.header-middle__inner{
		flex-wrap: wrap;
		padding-bottom: 15px;
	}
	.header-right-mob{
		width: 100%;

		.li-search{
			width: 100%;
		}
		.add-news{
			display: block;
		}
		.news-subscribe{
			display: block;
			margin-top: 15px;
			text-align: left;
		}
	}
	.news-subscribe__body input{
		margin-right: 8px;
	}
	.header-top-inner{
		position: relative;
	}
	.header-top__menu--text{
		display: none;
		padding-top: 15px;
		position: absolute;
		flex-direction: column;
		top: 100%;
		right: 0;
		z-index: 100;
		background-color: #fff;
		li{
			display: block;
			margin-bottom: 12px;

			a{
				height: auto;
				line-height: normal;
				font-size: 13px;
    			color: #9f9f9f;

    			&:hover, &:active{
    				background-color: transparent;
    				text-decoration: underline;

    				&:before{
    					display: none;
    				}
    			}
    			
			}
		}
	}
	.header-top{
		.toggle-mnu{
			display: block;
		}
	}
	.header-reg{
		.header-top-inner{
			flex-wrap:wrap;
			justify-content: space-between;
		}
	}
	.header-enter--reg{
		width: auto;
		span{
			font-size: 10px;
		}
	}
	.news-block{
		margin-top: 30px;
		.news-subscribe{
			display: none;
		}
	}
	.sf-arrows .sf-with-ul:after{
		display: block;
	}
	.announcements-item{
		width: calc(50% - 30px);
	}
	.footer-copyright{
		order: 2;
	}
	.footer-statistic{
		order:3;
	}
	.footer-bottom__column{
		width: calc(50% - 30px);

	}
	.footer-copyright{
		margin-bottom: 30px;
	}
	.blogs-steps{
		display: block;
		margin-bottom: 10px;
	}
	.blogs-step{
		margin-bottom: 10px;
	}

	.blog-card__header{
		position: static;
		padding-bottom: 10px;
		padding-top: 30px;
		
		.blog-card__header-right{
			display: none;
		}
	}
	.blog-card{
		.li-portrait{
			margin-bottom: 20px;
		}
	}
	.blog-card__info-hidden{
		display: flex;
		clear:left;
		margin-bottom: 15px;
	}
	.blog-card__body{
		clear:left;
		}
	.blog-card__rating{
		bottom: auto;
		top: 20px;
	}
	.li-pagination__prev span, .li-pagination__next span{
		display: none;
	}
	.categories-menu-block--mob{
		padding-top: 20px;
	}
	.blog-post-header{
		position: relative;
		padding-bottom: 82px;

		.blog-share{
			display: inline-block;
			width: 100%;
			position: absolute;
			// top: auto;
			bottom: 60px;
			// left: 50%;
			// transform: translateX(-50%);
			// left: 0;
			// right: 0;
			// margin: auto;
			text-align: center;

			.blog-share__title{
				display: block;
				margin: 0 auto;
			}
					}
	}
	.blog-post-header__bottom{
		.button{
			position: absolute;
			bottom: 19px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.news-row{
		padding-top: 35px;
		.news-row__info{
			position: absolute;
			top: 7px;
			right: 28px;
			padding-left: 0;
		}
		.ico-telegram-mini{
			top: 10px;
		}
		.blog-row__date,
		.blogs-previews__views{
			display: inline-block;
			vertical-align: middle;
		}
		.blogs-previews__views{
			margin-right: 10px;
		}
	}

	.discussion-form__top .li-form-label{
		display: block;
		margin-right: 0;
		max-width: initial;
	}
	.companies-list table .companies-list__mob-info{
		display: table-row;
		// td{
		// 	display: none;
		// }
		// .companies-mob-row-right,
		// .companies-mob-row-left{
		// 	display: table-cell;
		// }
	}
	.companies-list table .companies-list__date,
	.companies-list table .companies-list__news,
	.companies-list table .companies-list__comments,
	.companies-list table .companies-list__blogs,
	.companies-list table .companies-list__date,
	{
		display: none;
	}
	.companies-list table thead{
		display: none;
	}
	.companies-list table .companies-list__title{
		width: 100%;
	}
	.companies-list__desktop-info{
		border-bottom: none;
	}
	.companies-list table .companies-list__desktop-info{
		td{
			padding-bottom: 0;
			
		}
		border-bottom: none;
	}
	.companies-list__header{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	// .header-enter{
	// 	display: none;
	// }

	// .header-bottom .sf-navbar > li > ul
	// .header-menu .header-menu__link:hover:before, 
	// .header-menu .header-menu__link:active:before{
	// 	display: none;
	// }
	/*Disable Animation on Mobile Devices*/
// 	.animated{

// 		/*CSS transitions*/
// 		-o-transition-property: none !important;
// 		-moz-transition-property: none !important;
// 		-ms-transition-property: none !important;
// 		-webkit-transition-property: none !important;
// 		transition-property: none !important;
// 		/*CSS transforms*/
// 		-o-transform: none !important;
// 		-moz-transform: none !important;
// 		-ms-transform: none !important;
// 		-webkit-transform: none !important;
// 		transform: none !important;
// 		/*CSS animations*/
// 		-webkit-animation: none !important;
// 		-moz-animation: none !important;
// 		-o-animation: none !important;
// 		-ms-animation: none !important;
// 		animation: none !important;
// 	}
}


	
@media only screen and (max-width : 600px){
	.subject-content-item{
		column-count: 2;
	}
}

@media only screen and (max-width : 576px){
	
	.news-block{
		margin-bottom: 30px;
	}
	.news-items{
		height: 300px;
	}
	.blogs-previews__banner,
	.li-banners-wrapper{
		display: none;
	}
	.day-theme{
		margin-top: 0;
	}
	.day-theme__slider .slick-slide{
		margin-right: 0;
	}
	.day-theme__slide{
		display: block !important;

		.li-portrait{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
		.day-theme__slide-text{
			margin-left: 0;

			.li-person-name{
				text-align: center;
			}
		}
	}
	.day-theme__bottom .li-red-link{
		top: 0;
	}
	.blogs-previews__item{
		.li-portrait{
			margin-left: auto;
			margin-right: auto;
		}
		.li-person-name{
			text-align: center;
		}
	}
	.blogs-previews__item-info{
		text-align: center;
	}
	.sidebar-multi-wrap{
		display: block;

		&--for-buttons{
			// display: block;

			.sidebar-iconed-title{
				width: auto;
				padding-right: 0;


			}
			.sidebar-company{
				margin-left: 0;
				width: auto;
			}

		}
	}
	.footer-top__wrapper{
		.m-minus{
			margin-left: 0;
			margin-right: 0;
			
		}
	}
	.footer-socials-links{
		margin-bottom: 75px;
	}
	.footer-cookies{
		bottom: -75px;
		right: 20px;
	}
	.footer-column{
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		&:first-child,
		&:nth-child(3),
		&:nth-child(4){
			.footer-column__menu{
				column-count: 2;
				column-gap: 30px;

			}
		}

	}
	.footer-column__menu li{
		margin-bottom: 5px;
	}
	.footer-column__title {
		margin-bottom: 7px;
	}

	.announcements-item{
		width: 100%;
	}
	.li-pagination{
		justify-content: center;
	}
	.li-pagination__prev,
	.li-pagination__next{
		display: none;
	}
	
	.blog-row__footer{
		.blog-row__stat{
			margin-top: 30px;
			.blog-row__date{
				left: 0;
				right: auto;
				top: -20px;
				transform: none;
			}
		}
	}
}
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
/**/
	.header-enter{
		display: none;
	}
	.day-theme__bottom{
		margin-top: 40px;
	}
	.subjects-slider:before,
	.subjects-slider:after{
		display: none;
	}
	.subject-content-item{
		column-count: auto;
	}
	.subject-content-item{
		label{
			display: block;
		}
	}
	.add-news{
		line-height: normal;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	
	
	.blog-card__header{
		padding-bottom: 15px;
	}
	.blog-card__body{
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.blog-card__content{
		margin-bottom: 11px;
	}
	.blog-card__header-right{
		bottom: 142px;
	}
	.blog-post-header__bottom{
		.button{
			display: inline-table;
		}
	}
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
/**/
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 769px){
	/**/
	.header-top__menu--not-autor{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
		// flex-direction: column;
	}

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
	.header-top__menu--author{
		display: -webkit-flex !important;
		display: -moz-flex !important;
		display: -ms-flex !important;
		display: -o-flex !important;
		display: flex !important;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.li-search .li-form .li-form-input{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.sidebar-analitcs__header{
		letter-spacing: -.15px;
	}
	.blog-card__text{
		width: 100%;
	}
}


