.blog-card
	.li-portrait
		img(src="img/faces/gordeiko.jpg", alt="alt")

	.blog-card__text
		header.blog-card__header
			.blog-card__header-left
				h2 НДВ-супермаркет недвижимости
				p.blog-card__descr Корпоративный блог "НДВ-Супермаркет недвижимости"
			
			.blog-card__header-right
				.blogs-previews__item-info
					.blogs-previews__views
						.ico-eye
						.blogs-previews__views-count 135

					.blogs-previews__comments
						.ico-quote-mini
						a(href="#").blogs-previews__comments-conunt 0

				a(href="#li-popup-blog-sbscr").button.button-micro.button-dark-blue.to-popup подписаться на блог

				a(href="#").blog-card__header-icon.header-rss
					i.icon-rss

		.blog-card__info-hidden
			.blogs-previews__item-info
				.blogs-previews__views
					.ico-eye
					.blogs-previews__views-count 135

				.blogs-previews__comments
					.ico-quote-mini
					a(href="#").blogs-previews__comments-conunt 0

			a(href="#li-popup-blog-sbscr").button.button-micro.button-dark-blue.to-popup подписаться на блог

			a(href="#").blog-card__header-icon.header-rss
				i.icon-rss


		.blog-card__body
			
			.block-card__stats
				.block-card__stat
					div Сообщения
					div.block-card__stat-count 120

				.block-card__stat
					div Подписчиков
					div.block-card__stat-count 5


			a(href="#").blog-card__content.height-covered
				| #[span.blog-new-icon new] Ипотечная телеграмма № 60. Специальный вклад для первоначального взноса на ипотечный кредит. Цель благородная. А перспективы?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae beatae, dolore, tempora adipisci magnam atque nostrum suscipit iusto, harum animi mollitia impedit tempore culpa. Rem laudantium voluptas dicta iure officia corrupti, autem deleniti a, quaerat esse, veniam veritatis beatae hic dignissimos soluta! Similique totam ipsum, velit eius nam doloremque vel.
				.height-cover.height-cover--gray
			
			.blog-card__rating
				span Рейтинг блога
				span.blog-rating-count 135