.categories-menu-block.categories-menu-block--mob
	.sidebar-standart-title
		a(href="#").toggle-mnu
			span
		span Категории
	
	ul.sf-menu.sf-vertical.categories-menu
		- var cats = ['Блоги экспертов', 'Корпоративные блоги', 'Все сообщения'];
		each cat in cats
			li
				a(href="#").categories-menu__link= cat