footer.footer
	.footer-top
		.container.footer-top__wrapper
			.footer-cookies
				.sp-icon.ico-close-wt
				span Мы используем «куки»
				a(href="#") Что это?
			
			.row.footer-top__columns
				.footer-column
					.footer-column__title ЛюдиИпотеки.рф
					ul.footer-column__menu.mnu-standart-style-reset
						- var fmenu1 = ['О нас', 'Карта сайта', 'Аудитория', 'Сотрудничество', 'Обратная связь'];
						each item in fmenu1
							li
								a(href="#")= item

				.footer-column
					.footer-column__title магазин исследований
					ul.footer-column__menu.mnu-standart-style-reset
						- var fmenu2 = ['Банковский сектор', 'Экономика и финансы', 'Строительство и недвижимость', 'Авторы исследований'];
						each item in fmenu2
							li
								a(href="#")= item

				.footer-column
					.footer-column__title новости
					ul.footer-column__menu.mnu-standart-style-reset
						- var fmenu3 = ['Ипотека', 'Секьюритизация', 'Банки и компании', 'Бизнес и финансы', 'Зарубежные новости'];
						each item in fmenu3
							li
								a(href="#")= item

				.footer-column
					.footer-column__title навигация
					ul.footer-column__menu.mnu-standart-style-reset
						- var fmenu4 = ['Эксперты', 'Компании', 'Блоги', 'Мероприятия'];
						each item in fmenu4
							li
								a(href="#")= item

				.footer-column.footer-column--vk
					img(src="img/vkontakte.jpg", alt="alt")

				.footer-column.footer-column--vk
					img(src="img/vkontakte.jpg", alt="alt")
			
			.row.footer-socials-links
				.col-6.col-sm-4.col-xs-6
					a(href="").footer-social-link
						.sp-icon.ico-vk-footer
						span Подписаться 

				.col-6.col-sm-4.col-xs-6
					a(href="#").footer-social-link
						.sp-icon.ico-fb-footer
						span Подписаться 
	

	.footer-middle
		.container
			.row
				.col-12
					p Редакция портала ЛюдиИпотеки.рф не несет ответственности за мнения размещенные в коммента- риях и информацию, размещенную в новостях. Мнения участников может не совпадать с мнением редакции. При перепечатке материалов портала ЛюдиИпотеки.рф необходимо указывать сайт в качестве источника с активной гиперссылкой.

	.footer-bottom
		.container
			.row.footer-bottom__inner
				.col-xl-5.col-lg-6.col-md-5.footer-copyright
					div © 2011-2019 ЛюдиИпотеки.рф — сообщество участников ипотечного рынка
					div Все права защищены
				
				.footer-bottom__column
					ul.footer-bottom__menu.mnu-standart-style-reset
						li
							a(href="#") Политика конфиденциальности
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Правила размещения
				
				.footer-bottom__column
					ul.footer-bottom__menu.mnu-standart-style-reset
						li
							a(href="#") Реклама на сайте
						li
							a(href="#") Аудитория и статистика
						li
							a(href="#") Контакты

				.col-xl-3.footer-statistic
					img(src="img/footer-stats/1.jpg", alt="alt")
					img(src="img/footer-stats/2.jpg", alt="alt")
					img(src="img/footer-stats/3.jpg", alt="alt")
					