header.header
	.header-top
		.container
			.row
				.col-12.header-top-inner
					.header-socials
						ul
							li.header-rss
								a(href="#")
									i.icon-rss
							li
								a(href="#")
									i.icon-facebook
							li
								a(href="#")
									i.icon-vkontakte
							li.header-gplus
								a(href="#")
									i.icon-gplus
							li
								a(href="#")
									i.icon-odnoklassniki

					ul.header-top__menu
						li.header-sitemap
							a(href="#")
								.sp-icon.site-map
						li.header-home
							a(href="#")
								.sp-icon.home
					
					ul.header-top__menu.header-top__menu--text.header-top__menu--not-autor
						li
							a(href="#") О нас
						li
							a(href="#") Сотрудничество
						li
							a(href="#") Обратная связь

					ul.header-top__menu.header-top__menu--reg
						li.header-mail.active
							a(href="#").header-menu-icon
								.sp-icon.mail
						li.header-bell
							a(href="#").header-menu-icon
								.header-bell__dot
								.sp-icon.bell

					a(href="#li-enter-popup").header-enter.button.to-popup ВХОД

					.header-enter.header-enter--reg.button
						span ФАМИЛИЯЯЯЯЯ ИМЯЯЯЯЯЯЯ
						span.sp-icon.chev-top
						ul.header-enter__menu
							li
								a(href="#") Настройки
							li
								a(href="") Выход

					a(href="#").toggle-mnu
						span

	.header-middle
		.container
			.row
				.col-12.header-middle__inner
					a(href="#").header-logo
						img(src="img/logo.jpg", alt="alt")

					.header-banner
						img(src="img/header-banner.jpg", alt="alt")

					.header-right-mob
						.li-search
							form.li-form(action="#")
								input.li-form-input(type="text", name="name" placeholder="Поиск по сайту")
								button.li-search__submit
						
						a(href="#").button.button-green.add-news добавить свою новость


	.header-bottom
		.container
			.row
				.col-12
					.header-bottom__inner
						- var subs = ['Ипотека и строительство', 'Секьюритизация', 'Законодательство', 'Новости компаний', 'Бизнес и финансы', 'Зарубежные новости'];
						
						ul.header-menu.sf-menu.sf-navbar
							li.active
								a(href="#").header-menu__link
									span.header-menu__val новости
									span.header-menu__count 53

								ul
									each item in subs
										li
											a(href="#").header-menu__sublink= item

							li
								a(href="#").header-menu__link
									span.header-menu__val Блоги
									span.header-menu__count 53

								ul
									each item in subs
										li
											a(href="#").header-menu__sublink= item
							li
								a(href="#").header-menu__link
									span.header-menu__val Магазин исследований
									span.header-menu__count 700

								ul
									each item in subs
										li
											a(href="#").header-menu__sublink= item

							li
								a(href="#").header-menu__link
									span.header-menu__val Эксперты
									span.header-menu__count 911

								ul
									each item in subs
										li
											a(href="#").header-menu__sublink= item
							li
								a(href="#").header-menu__link
									span.header-menu__val Компании
									span.header-menu__count 248

								ul
									each item in subs
										li
											a(href="#").header-menu__sublink= item
							li
								a(href="#").header-menu__link
									span.header-menu__val Мероприятия
									span.header-menu__count 2

						a(href="#").button.button-green.add-news добавить свою новость