.news-block
	.news-subscribe
		.news-subscribe__title Подписка на новости
		form(action="#").news-subscribe__body
			input(type="text", name="jlsjd" placeholder="user@site.com")
			button.button.button-micro.button-dark-blue подписаться

	.title-block.title-block--iconed
		h2 Новости
		.title-block__icons
			a(href="#").title-block__icon.title-block__icon--telegram.ico-telegram-mini
			a(href="#").title-block__icon.title-block__icon--rss
				i.icon-rss
	
	.news-items.scroll-pane

		.news-item.news-item--important
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Новости компаний
			a(href="#").news-item__text #[img(src="img/news-icons/01.png", alt="alt")] Русипотека провела анализ законопроекта об Ипотечных каникулах

		.news-item.news-item--important
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Ипотека и строительство
			a(href="#").news-item__text #[img(src="img/news-icons/02.png", alt="alt")] Удорожание ипотеки подтолкнет граждан быстрее принимать решение о покупке жилья
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Законодательство
			a(href="#").news-item__text #[img(src="img/news-icons/03.png", alt="alt")] Президент РФ подписал закон об осво- бождении ипотечников от исполнительского сбора
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Новости компаний
			a(href="#").news-item__text #[img(src="img/news-icons/04.png", alt="alt")] Русипотека провела анализ законопроекта об Ипотечных каникулах
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Ипотека и строительство
			a(href="#").news-item__text #[img(src="img/news-icons/01.png", alt="alt")] Удорожание ипотеки подтолкнет граждан быстрее принимать решение о покупке жилья
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Законодательство
			a(href="#").news-item__text #[img(src="img/news-icons/02.png", alt="alt")] Президент РФ подписал закон об осво- бождении ипотечников от исполнительского сбора
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Новости компаний
			a(href="#").news-item__text #[img(src="img/news-icons/ico-case.png", alt="alt")] Русипотека провела анализ законопроекта об Ипотечных каникулах
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Ипотека и строительство
			a(href="#").news-item__text #[img(src="img/news-icons/ico-building.png", alt="alt")] Удорожание ипотеки подтолкнет граждан быстрее принимать решение о покупке жилья
		.news-item
			a(href="#").news-item__icon.sp-icon.ico-telegram-mini
			.news-item__title Законодательство
			a(href="#").news-item__text #[img(src="img/news-icons/ico-arbitrate.png", alt="alt")] Президент РФ подписал закон об осво- бождении ипотечников от исполнительского сбора

		- for (var i=0; i < 3; i++)
			.news-item
				a(href="#").news-item__icon.sp-icon.ico-telegram-mini
				.news-item__title Новости компаний
				a(href="#").news-item__text #[img(src="img/news-icons/ico-case.png", alt="alt")] Русипотека провела анализ законопроекта об Ипотечных каникулах
			.news-item
				a(href="#").news-item__icon.sp-icon.ico-telegram-mini
				.news-item__title Ипотека и строительство
				a(href="#").news-item__text #[img(src="img/news-icons/ico-building.png", alt="alt")] Удорожание ипотеки подтолкнет граждан быстрее принимать решение о покупке жилья
			.news-item
				a(href="#").news-item__icon.sp-icon.ico-telegram-mini
				.news-item__title Законодательство
				a(href="#").news-item__text #[img(src="img/news-icons/ico-arbitrate.png", alt="alt")] Президент РФ подписал закон об осво- бождении ипотечников от исполнительского сбора

	.more-container.text-right
		a(href="#").li-red-link Все новости