.sidebar-search
	form.li-form(action="#")
		input.li-form-input(type="text", name="name" placeholder="Поиск по сайту")
		button.sidebar-search__submit

.sidebar-analitcs
	.sidebar-analitcs__header Аналитические исследования
	.sidebar-analitcs__slider 