.li-popup.li-popup-enter#li-enter-popup.mfp-hide
	header.li-popup__header АВТОРИЗАЦИЯ
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name E-mail:
				input.li-form-input(type="text", name="name")
			label.li-form-label
				span.li-form-label-name Пароль:
				input.li-form-input(type="text", name="pass")

			.li-form__reg
				a(href="#") Забыли пароль
				a(href="#") Подать заявку на регистрацию

			.li-form__socials
				p Войти через социальную сеть (для комментариев)
				ul.li-form__socials-list
					li
						a(href="#").sp-icon.enter-fb
					li
						a(href="#").sp-icon.enter-vk

					li
						a(href="#").sp-icon.enter-twi
					li
						a(href="#").sp-icon.enter-in
					li
						a(href="#").sp-icon.enter-ok
					li
						a(href="#").sp-icon.enter-mw

			.li-form__buttons
				button.button.button-mini.button-l-blue ОТПРАВИТЬ
				button.button.button-mini.button-l-blue ОТМЕНА

.li-popup.li-popup-subject#li-subject-popup
	header.li-popup__header Выбор новостей по сюжету
	.li-popup__body.tabs-wrapper
		ul.subjects-slider.tabs__list
			li.tabs__item.tabs__item--active.subjects-slide
				a.tabs__link(href='#item1') новости рынка кредитования
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item2') новости рынка банков
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item3') новости законодательства
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item4') Оценочная компания
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item5') Кредитный брокер
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item6') Корпоративные новости

		.subject-range#subject-range

		ul.tabs__content.subject-content
			- var news = ['Новости БайкалБанк', 'Новости Абсолют Банк', 'Новости Абсолют Банк', 'Новости АК БАРС Банк', 'Новости БайкалБанк', 'Новости БайкалБанк', 'Новости Балтинвестбанк', 'Новости Банк "Русь"', 'Новости Банк "Аверс"', 'Корпоративные новости'];

			li#item1.tabs__item
				each item in news
					label
						input(type="checkbox")
						span= item

			li#item2.tabs__item.hidden
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quasi nostrum modi debitis, neque, fugit dignissimos magni perferendis fugiat fuga, rerum, mollitia quia harum ducimus! Dolores, quidem natus voluptatem quos.
			li#item3.tabs__item.hidden
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem delectus expedita laudantium aut error accusamus eveniet nostrum repudiandae, similique facilis, adipisci accusantium nesciunt, modi perferendis labore veniam dolor, assumenda cupiditate.
			li#item4.tabs__item.hidden
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias veniam quam itaque, sequi, possimus ab odio at rem. Nisi provident pariatur fuga sed ea perspiciatis illum ipsum, beatae similique rerum!
			li#item5.tabs__item.hidden
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolorum illo obcaecati a, ratione debitis magnam eveniet repellendus provident odio sed in ea, quidem iste necessitatibus! Ducimus autem dolorem, fugit.
			li#item6.tabs__item.hidden
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolorum illo obcaecati a, ratione debitis magnam eveniet repellendus provident odio sed in ea, quidem iste necessitatibus! Ducimus autem dolorem, fugit.