extends _misc/main-with-categories

block title
	| Блоги


block breadcrumb-current
	li.active
		a(href="#") Блоги

block cat-menu
	include _sections/categories-menu-mini

block main
	.container-fluid
		.row.m-minus
			.col-12
				include _sections/blogs-top
					block blogs-tabs
						ul.tabs__content
							li#item1.tabs__item
								- for (var i=0; i < 5; i++)
									include _sections/blog-cards
							li#item2.tabs__item.hidden
								- for (var i=0; i < 2; i++)
									include _sections/blog-cards
							li#item3.tabs__item.hidden
								- for (var i=0; i < 1; i++)
									include _sections/blog-cards
							li#item4.tabs__item.hidden
								- for (var i=0; i < 3; i++)
									include _sections/blog-cards
							li#item5.tabs__item.hidden
								- for (var i=0; i < 4; i++)
									include _sections/blog-cards

		.row.m-minus
			.col-12
				.li-pagination
					a(href="#").li-pagination__prev
						.sp-icon.ico-pager-prev
						span предыдущая страница

					ul.li-pagination__list
							li.active
								a(href="") 1
							
							- for (var i=2; i < 6; i++)
								li
									a(href="")= i
						
					a(href="#").li-pagination__prev
						span следующая страница
						.sp-icon.ico-pager-next
			
block sidebar
	include _sections/categories-menu-mini
	include _sections/sidebar-permanent
