extends _misc/main-with-categories

block title
	| Страница записи блога


block breadcrumb-current
	li.active
		a(href="#") Блоги

block cat-menu
	include _sections/categories-menu-mini-mob


block main
	.container-fluid
		.row.m-minus
			.col-12.blog-page-container
				include _sections/blogs-top-without-h1
					block blogs-tabs
						ul.tabs__content.mnu-standart-style-reset
							li#item1.tabs__item
								include _sections/blog-card

								.li-banners-wrapper.li-banners-wrapper--double.li-banners-wrapper--tripple.li-banners-wrapper--padded
									.li-banner-wrap
										img(src="img/banners/double-1.jpg", alt="alt")
									.li-banner-wrap
										img(src="img/banners/double-2.jpg", alt="alt")
									.li-banner-wrap
										img(src="img/banners/double-3.jpg", alt="alt")

								.blog-post-content
									header.blog-post-header
										.blog-post-header__top
											.blog-row__date 29 января 2019
												span.blog-post-time 13:30
											
											.blog-share
												span.blog-share__title поделитесь с друзьями
												script.
													(function() {
													  if (window.pluso)if (typeof window.pluso.start == "function") return;
													  if (window.ifpluso==undefined) { window.ifpluso = 1;
													    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
													    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
													    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
													    var h=d[g]('body')[0];
													    h.appendChild(s);
													  }})();

												div(class="pluso" data-background="none;" data-options="small,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,facebook,google,odnoklassniki,twitter,linkedin")
										
										h1 Как я выбирал цифровой банк для РКО
										
										.blog-post-header__bottom
											.blog-row__stat
												.blog-rating
													span Рейтинг читателей
													.blog-rating__handler
														a(href="#").sp-icon.ico-blog-like
														span.blog-rating__likes-count 3
														a(href="#").sp-icon.ico-blog-dislike

												.blogs-previews__item-info
													.blogs-previews__views
														.ico-eye
														.blogs-previews__views-count 135

													.blogs-previews__comments
														.ico-quote-mini
														a(href="#").blogs-previews__comments-conunt 0
											
											a(href="#").button.button-micro.button-dark-blue.scroll-to-comments комментарии 
												span (2)											

									.blog-post__body
										p Некоторое время у нас возникла необходимость сменить банк для выплаты зарплаты и дивидендов. Для этих целей лучше всего подходят так называемые "цифровые банки" в лице Точки, Модуля, Тинькова. Как говорится, цифровой банк - стильно, модно, молодежно. Хочу поделиться своим опытом открытия счета и работы с одним из трех банков.

										p Предыстория вопроса. Банк, в котором мы сейчас обслуживаемся устраивает полностью. Общение с живым человеком там происходит два раза в несколько лет, когда у меня заканчивается доверенность и когда нужно обновить цифровой ключ. Но вот незадача. Чтобы получить зарплату и заслуженные дивиденды, нужно значительно переплачивать. В зависимости от объема, комиссионные на перевод составляют от 0,5% до 3% и выше. Помните, в рекламе как большие банки "замечают" малый бизнес. Для них он мелочь, которая под ногами мешается. Поэтому возник вопрос открытия счета в банке, созданном для обслуживания такой категории клиентов.

										p Как происходил выбор?

										p Тиньков - сложная тарифная сетка (если столько, то столько-то), плюс интересующий меня тариф не сильно отличался с меньшую сторону. Точка - на момент выбора, были неочевидные перспективы материнского банка, соответственно, как держатель счета банк мной не рассматривался. Модуль - простой в плане навигации сайт, очевидные тарифы. В Фейсбуке на мой пост по выбору банка, откликнулись пару менеджеров Модульбанка, которые ответили на ряд вопросов и произвели благоприятное впечатление. Копеечные тарифы зарплатного тарифа и адекватность менеджеров определии мой выбор.

										p Некоторое время у нас возникла необходимость сменить банк для выплаты зарплаты и дивидендов. Для этих целей лучше всего подходят так называемые "цифровые банки" в лице Точки, Модуля, Тинькова. Как говорится, цифровой банк - стильно, модно, молодежно. Хочу поделиться своим опытом открытия счета и работы с одним из трех банков.

										p Предыстория вопроса. Банк, в котором мы сейчас обслуживаемся устраивает полностью. Общение с живым человеком там происходит два раза в несколько лет, когда у меня заканчивается доверенность и когда нужно обновить цифровой ключ. Но вот незадача. Чтобы получить зарплату и заслуженные дивиденды, нужно значительно переплачивать. В зависимости от объема, комиссионные на перевод составляют от 0,5% до 3% и выше. Помните, в рекламе как большие банки "замечают" малый бизнес. Для них он мелочь, которая под ногами мешается. Поэтому возник вопрос открытия счета в банке, созданном для обслуживания такой категории клиентов.

										p Как происходил выбор?

										p Тиньков - сложная тарифная сетка (если столько, то столько-то), плюс интересующий меня тариф не сильно отличался с меньшую сторону. Точка - на момент выбора, были неочевидные перспективы материнского банка, соответственно, как держатель счета банк мной не рассматривался. Модуль - простой в плане навигации сайт, очевидные тарифы. В Фейсбуке на мой пост по выбору банка, откликнулись пару менеджеров Модульбанка, которые ответили на ряд вопросов и произвели благоприятное впечатление. Копеечные тарифы зарплатного тарифа и адекватность менеджеров определии мой выбор.

										p Через неделю после открытия счета приходит письмо, в поле "от" которого написано "Олег из Модульбанка", а из текста следует, что это один из основателей. Текст письма достаточно стандартный, мол, рады, что стали клиентом банка, есть ли замечания, пожелания, проблемы, готовы помочь и пр.

										p Поскольку к этому моменту мы успели поработать, то был вычислен довольно серьезный косяк в зарплатном проекте банка. Проблема в том, что в зарплатном проекте не предусмотрены различного рода вычеты, в частности на детей, в результате чего зарплата считается некорректно. Проблема некритичная, но для банка, претендующего на лидерство, недопустимая. В результате приходится вычеты проводить отдельными платежами вне зарплатного проекта. Это неудобно. Об этом было написано Олегу письмо с подробным описанием проблемы.

										p Прошел месяц. Ответа не последовало. Напомнил, спросив, подтвердили ли вы наличие проблемы и будет ли она решаться. Прошло несколько месяцев. Ответа по-прежнему нет.

										p Давайте поразмышляем, почему возникла такая ситуация. Я сомневаюсь, что совладелец банка сам отправляет письма всем новым клиентам и сам на них отвечает.

										p Вариант #1. Письмо отправляет бот. Обработкой писем занимается какой-нибудь стажер, которому наплевать, что пишут в ответ.
											br
											| Вариант #2. Письма отправляет один из помощников, который и получает обратную связь и которому тоже наплевать.

										.blog-row__tags
											span Теги:
											.blog-row__tags-content
												a(href="#") мысли про ипотеку
									
									.blog-post-discussion
										.blog-post-discussion__header
											.blog-post-discussion__title Обсуждения
											a(href="#").button.button-micro.button-dark-blue.discussion-form-toggle.scroll-to-comments-form комментировать
										
										.blog-post-discussion__body
											- for (var i=0; i < 2; i++)
												.blog-post-discussion__row
													.li-blog-avatar
														.li-blog-avatar__img.ico-avatar-default
														//- img.li-blog-avatar__img(src="img/mister-x.jpg", alt="alt")
													
													.blog-post-discussion__content
														.blog-post-discussion__info
															.blog-row__date 29 января 2019
																span.blog-post-time 13:30
														
														.blog-post-discussion__text
															p Меня модульбанк радует и полностью устраивает пока как клиента. Мобильное приложение работает хорошо, в личном кабинете работать удобно, с переводами нет проблем. А недочеты и косяки есть везде, и в модуле они не такие значительные. 

															p Прошел месяц. Ответа не последовало. Напомнил, спросив, подтвердили ли вы наличие проблемы и будет ли она решаться. Прошло несколько месяцев. Ответа по-прежнему нет.
									
									form(action="#").discussion-form.li-form#post-page-form.hidden
										.discussion-form__top
											label.li-form-label
												span.li-form-label-name #[span.li-form-required *] Имя и Фамилия:
												input.li-form-input(type="text", name="name")
											label.li-form-label
												span.li-form-label-name #[span.li-form-required *] E-mail:
												input.li-form-input(type="text", name="pass")
										label.li-form-label
											span.li-form-label-name #[span.li-form-required *] Ваш вопрос
											textarea(name="name", cols="30", rows="10").li-form-area

										.li-form__buttons
											button.button.button-mini.button-l-blue ОТПРАВИТЬ


							li#item2.tabs__item.hidden 2
								
									
							li#item3.tabs__item.hidden 3
								
									
							li#item4.tabs__item.hidden 4
								
									
							li#item5.tabs__item.hidden 5

block sidebar
	include _sections/categories-menu-mini
	include _sections/sidebar-permanent

block page-popups
	include _includes/popup-enter
	include _includes/popup-email
	include _includes/popup-subject
	include _includes/popup-blog-sbscr