extends _misc/main-with-categories

block title
	| Блоги


block breadcrumb-current
	li.active
		a(href="#") Блоги

block cat-menu
	include _sections/new-cat-menu/categories-new-menu-mini--mob

block main
	.container-fluid
		.row.m-minus
			.col-12
				include _sections/blogs-top
					block blogs-tabs
						ul.tabs__content.mnu-standart-style-reset
							li#item1.tabs__item
								- for (var i=0; i < 5; i++)
									include _sections/blog-cards
							li#item2.tabs__item.hidden
								- for (var i=0; i < 2; i++)
									include _sections/blog-cards
							li#item3.tabs__item.hidden
								- for (var i=0; i < 1; i++)
									include _sections/blog-cards
							li#item4.tabs__item.hidden
								- for (var i=0; i < 3; i++)
									include _sections/blog-cards
							li#item5.tabs__item.hidden
								- for (var i=0; i < 4; i++)
									include _sections/blog-cards

		.row.m-minus
			.col-12
				include _includes/pagination
			
block sidebar
	include _sections/categories-menu-mini
	include _sections/sidebar-permanent

block page-popups
	include _includes/popup-enter
	include _includes/popup-email
	include _includes/popup-subject
	include _includes/popup-blog-sbscr