extends _misc/main-with-categories

block title
	| Страница эксперта


block breadcrumb-current
	li
		a(href="#") Список экспертов
	li.active
		a(href="#") Александр Савинов

block cat-menu
	include _sections/categories-menu-mini-mob


block main
	.container-fluid
		.row.m-minus
			.col-12
				.title-block.title-block--iconed
					h1 Александр Савинов
					.title-block__icons.title-block__count
						.blogs-previews__views.title-block__count
							.ico-eye
							.blogs-previews__views-count 1350

				.company-card
					.li-portrait
						img(src="img/faces/gordeiko.jpg", alt="alt")

					.company-card__content
						.company-card__top
							.li-to-friends
								.sp-icon.ico-plus
								a(href="#") Добавить в друзья

							a(href="#li-message-person-popup").button.button-micro.button-dark-blue.to-popup отправить сообщение

						.company-card__bottom
							.company-card__left
								.company-card__stat
									span Дата регистрации
									div 09 октября 2012

								.company-card__stat
									span Последнее посещение
									div 17 сентября 2018, 19:59
							
							.company-card__right
								.company-card__stat
									div 75
									span Сообщений в блоге
								.company-card__stat
									div 10
									span Друзей
								.company-card__stat
									div 0
									span Новостей
				
				.company-info
					.company-info__column
						.company-info__title работа
						.company-info__block
							.company-info__bage Компания
							.company-info__descr Центр жилищного финансорования Программа "Жилищный шаг

						.company-info__block
							.company-info__bage Должность
							.company-info__descr Председатель Правления (руководитель проекта)

						.company-info__block
							.company-info__bage Сфера деятельности компании
							.company-info__descr
								a(href="").li-link Ипотечная компания, агентство, фонд

					.company-info__column
						.company-info__title контакты
						div Тел: 8 (495) 123-45-67
						div
							span E-mail:
							a(href="mailto:user@sitenamea.ru").company-info__mail.li-link-blue user@sitenamea.ru

					.company-info__column
						.company-info__title страницы в соцсетях
						.personal-link
							.sp-icon.ico-doc
							a(href="#").l-link Личный блог
				
				.company-about
					a.company-about__link(href="#") Обо мне
					.company-about__hidden
						| – успешный предприниматель, создатель и руководитель проекта Программа "Жилищный шаг". Экономическое образование, и несколько лет ведения и изучения бизнеса в различных сферах, принесли опыт и плоды, и дали возможность реализации в сфере проблем жилищного кредитования, в которой я глубоко разбираюсь". На сегодня мой основной проект – «дело жизни», это Программа «Жилищный шаг», в неё я выкладываю всё дущу и силы вместе с коллективом, который был создан мной, и работа в котором занимает большую часть времени, но вместе с тем приносит радость творчества и веру в будущее. 

						.height-cover

				.company-activity
					.title-upcase-bl Активность

					.li-tabs.tabs-wrapper
						ul.tabs__list.mnu-standart-style-reset
							li.tabs__item.company-activity__item.tabs__item--active
								a.tabs__link(href='#item1')
									span Сообщений в блоге
									span.activity-count 69
							li.tabs__item.company-activity__item
								a.tabs__link(href='#item2')
									span Размещенных новостей
									span.activity-count 0
							li.tabs__item.company-activity__item
								a.tabs__link(href='#item3')
									span Оставленных комментариев
									span.activity-count 60

						ul.tabs__content.mnu-standart-style-reset
							li#item1.tabs__item
								.company-block
									h2
										a(href="#").li-link.li-link-blue Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, дал.
									
									p.company-block__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Безорфографичный жизни вопрос продолжил дал, правилами там моей, грустный приставка переулка злых переписывается, реторический это. Его напоивший курсивных, рекламных домах lorem мир по всей! Алфавит свой снова диких до свою парадигматическая мир? Толку взобравшись своего проектах, злых это домах собрал он.
									
									.blog-row__date 17 сентября 2018, 19:58

								.company-block
									h2
										a(href="#").li-link.li-link-blue Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, дал.
									
									p.company-block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. За эта страна о встретил, моей от всех свой не продолжил речью переписали семь, диких назад злых! Образ продолжил путь ему рыбного ведущими! Даже своих путь образ своего заглавных, вершину над взобравшись. Своих назад наш там ему диких проектах послушавшись гор свою семь использовало, языком речью первую скатился бросил путь, несколько за составитель, то возвращайся предложения власти имеет заманивший. Путь сих до, бросил рукопись коварный власти предупреждал оксмокс рыбного, родного это однажды, города за, снова приставка. Снова грустный ему путь алфавит своего дал бросил даль продолжил правилами диких, своих, скатился вопрос!
									
									.blog-row__date 28 августа 2015, 01:53

								.company-block
									h2
										a(href="#").li-link.li-link-blue Далеко-далеко за словесными горами в стране, гласных и согласных живут.
									
									p.company-block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Речью взгляд своих о, строчка по всей своего рыбного коварных букв алфавит там толку использовало пояс осталось составитель, вопрос сбить путь.
									
									.blog-row__date 28 августа 2015, 01:53
							
							li#item2.tabs__item.hidden 2
	
							li#item3.tabs__item.hidden 3
					
					.company-activity__more
						a(href="#")
							span.sp-icon.ico-red-burger
							span все сообщения
				
				.company-services
					.title-upcase-bl Услуги
					ul.acordeon-list.mnu-standart-style-reset
						li.acordeon-item.acordeon-item-with-sublist.company-services__acc-item
							a.acordeon-link(href="#").company-services__toggle-link Сопровождение ипотечных сделок
							ul.acordeon-sublist.li-list.mnu-standart-style-reset
								li.acordeon-subitem Консультации покупателей по ипотечным программам
									
								li.acordeon-subitem Подбор ипотечной программы

								li.acordeon-subitem Формирование пакета документов для подачи в банк на одобрение кредита

						li.acordeon-item.acordeon-item-with-sublist.company-services__acc-item
							a.acordeon-link.company-services__toggle-link(href="#") Сопровождение финансирования
							ul.acordeon-sublist.li-list.mnu-standart-style-reset
								li.acordeon-subitem Консультации покупателей по ипотечным программам
									
								li.acordeon-subitem Подбор ипотечной программы

								li.acordeon-subitem Формирование пакета документов для подачи в банк на одобрение кредита
				
				.company-other-staffs
					.title-upcase-bl Другие сотрудники РУСИПОТЕКА
					.staffs-persons
						- for (var i=0; i < 2; i++)
							a(href="#").staffs-person
								.li-portrait
									img(src="img/faces/gordeiko.jpg", alt="alt")
								.li-person-name Сергей Гордейко

							a(href="#").staffs-person
								.li-portrait
									img(src="img/faces/vasheluk.jpg", alt="alt")
								.li-person-name Наталья Ващелюк

						a(href="#").staffs-person
								.li-portrait
									img(src="img/faces/gordeiko.jpg", alt="alt")
								.li-person-name Сергей Гордейко
block sidebar
	include _sections/categories-menu-mini
	include _sections/sidebar-permanent

block page-popups
	include _includes/popup-enter
	include _includes/popup-subject
	include _includes/popup-message-person