extends _misc/main

block title
	| Список тем дня

block breadcrumb-current
	li.active
		a(href="#") Темы дня


block main
	.container-fluid
		.row.m-minus
			.col-12
				.title-block
						h2 Темы дня

				.topics-content
					.topics-blocks
						.topics-block.li-card-block
							.topics-block__header
								.announcements-item__date.announcements-item__date--vert
									div 18
									span марта

								h2 У вас появился еще один ребенок? Нужна более просторная квартира? Планируете использовать средства материнс-кого капитала для приобретения нового жилья?
												
							.topics-block__slider
								.day-theme__slider.day-theme__slider--short
									- for (var i=0; i < 3; i++)
										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-01.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Алексей Иванов
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-02.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Мария Петрова
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

						.topics-block.li-card-block
							.topics-block__header
								.announcements-item__date.announcements-item__date--vert
									div 18
									span марта

								h2 У вас появился еще один ребенок? Нужна более просторная квартира? Планируете использовать средства материнс-кого капитала для приобретения нового жилья?
												
							.topics-block__slider
								.day-theme__slider.day-theme__slider--short
									- for (var i=0; i < 3; i++)
										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-03.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Алексей Иванов
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-04.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Мария Петрова
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray
					.li-date-line
						span 2018 г.
					.topics-blocks
						.topics-block.li-card-block
							.topics-block__header
								.announcements-item__date.announcements-item__date--vert
									div 18
									span марта

								h2 У вас появился еще один ребенок? Нужна более просторная квартира? Планируете использовать средства материнс-кого капитала для приобретения нового жилья?
												
							.topics-block__slider
								.day-theme__slider.day-theme__slider--short
									- for (var i=0; i < 3; i++)
										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-01.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Алексей Иванов
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-02.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Мария Петрова
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

						.topics-block.li-card-block
							.topics-block__header
								.announcements-item__date.announcements-item__date--vert
									div 18
									span марта

								h2 У вас появился еще один ребенок? Нужна более просторная квартира? Планируете использовать средства материнс-кого капитала для приобретения нового жилья?
												
							.topics-block__slider
								.day-theme__slider.day-theme__slider--short
									- for (var i=0; i < 3; i++)
										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-03.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Алексей Иванов
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray

										.day-theme__slide
											.li-portrait
												img(src="img/faces/topics-04.jpg", alt="alt")
											.day-theme__slide-text
												.li-person-name Мария Петрова
												.li-quote.height-covered Отечественное ипотечное кредитование имеет особую специфику, определяе- мую его полукоммерческим и полусоци- альным характером. Решение с помощью коммерческого инструмента не только задач бизнеса, но и  социальных задач власти... привело к тому, что ипотечное кредитование поддерживалось на
												
													.height-cover.height-cover--gray
			
			.col-12
				include _includes/pagination
				
block sidebar
	include _sections/sidebar-permanent
