/* main styles */
html{
	font-size: 12px;
	
}
body{
	font-family: $r-r;
	font-weight: normal;
	line-height: 19px;
	min-width: 320px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
  color: #141414;
}
.sp-icon{
	display: inline-block;
}
// .right-sidebar{
//   margin-top: 30px;
// }
.main-content-contents{
  margin-top: 30px;
}
.button{
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 13px 16px 10px 16px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-family: $r-bl;
  position: relative;
  outline: none;
  transition: background-color .1s ease;

  &:hover, &:active{
     background-color: $accent-hover;
     color: #fff;
     text-decoration: none;
  }
  &-green{
  	background-color: $green;

  	&:hover, &:active{
  		background-color: $green;
  	}
  	
  }

  &-mini{
  	width: 100%;
    padding-top: 11px;
  	max-width: 116px;
	font-family: $r-r;
  }
  &-micro{
    padding-top: 6px;
    padding-bottom: 5px;
  }
  &-l-blue{
  	background-color: #597DA3;

  	&:hover, &:active{
  		background-color: $blue;
  	}
  	
  }
  &-dark-blue{
    background-color: $blue;
  }
	
   
   
}
.li-form{
  .li-form-label{
    display: block;
    // margin-bottom: 7px;
  }
  .li-form-label--file{
    position: relative;
    padding: 21px 0;
    background-color: #316484;
    text-align: center;
    border: 1px solid #fff;

    .li-form-label-text{
      padding-right: 68px;
      color: #fff;
      font-family: $r-b;
    }

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 68px;
      height: 100%;
      border-left: 1px solid #fff;
      background: #23506D url(../img/svg/clip.svg) center no-repeat;
      background-size: 45%;
    }
  }
  .li-form-label-name{
    display: block;
    margin-bottom: 5px;
    // font-family: $r-l;
    color: #696969;
  }
  .li-form-input{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #b6b6b6;
  }
  .li-form-custom{
    position: relative;
    display: inline-block;
  }
  .li-form__custom-policy{
    margin-top: 40px;
    margin-bottom: rem(59px);
  }
  // .li-form-check,
  // .li-form-file{

  //   position: absolute;
  //     box-sizing: border-box;
  //     width: 1px;
  //     height: 1px;
  //     display: block;
  //     left: 50%;
  //     top: 100%;
  //     margin: 0;
  //     padding: 0;
  //     opacity: 0;

  //     &:checked ~ .abs-form__custom-chek{
  //       &:before{
  //         display: block;
  //       }
  //     }
  // }
  // .li-form__custom-chek{
  //   position: relative;
  //   display: inline-block;
  //   vertical-align: middle;
  //   width: 30px;
  //   height: 30px;
  //   margin-right: 7px;
  //   background: #FFFFFF;
  //   box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);

  //   &:before{
  //     content: '';
  //     @include absolute-center;
  //     @extend .svg-icon-bg;
  //     width: 18px;
  //     height: 13px;
  //     background:  url(../img/svg/check.svg) no-repeat;
  //     display: none;
  //   }

  // }
  .li-form__policy{
    // font-size: 14px;
    font-family: $r-l;
    color: #fff;

    a{
      color: #fff;
    }
  }
  .button{
    // font-size: 18px;
  }
}
.li-form__reg{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	a{
		color: #333366;
		font-family: $r-m;
	}
}
.li-form__socials{
	p{
		color: #696969;
	}
}
.li-form__socials-list{
	li{
		display: inline-block;
		margin-right: 4px;
		list-style-type: none;
	}
}
// body input:focus:required:invalid,
// body textarea:focus:required:invalid{
// 	color: red;
// }
// body input:required:valid,
// body textarea:required:valid{
// 	color: green;
// }
input{
	outline: none;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
ul, li{
	margin: 0;
	padding: 0;
}
.justify{
	content: '';
	width: 100%;
	height: 0;
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
	line-height: 0;
}
.hidden{
	display: none;
}
@include sprites($spritesheet-sprites);

.mfp-close-btn-in .mfp-close{
  color: #fff;
  opacity: 1;
}
.mfp-bg {
  opacity: .5;
}
.m-minus{
  margin-left: -30px;
  margin-right: -30px;
}
.title-block{
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;

  &--iconed{
    padding-right: 25px;
  }

  &:after{
    content: '';
    display: block;
    height: 2px;
    background-color: #dcdcdc;
    flex: 1 1 auto;
  }

  
}
.title-block__icons{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &:before{
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: -8px;
      width: 9px;
      background-color: #fff;
    }

  
}
.title-block__icon{
    width: 14px;
    height: 14px;
    margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
    
    i{
      display: block;
      color: #fff;
      font-size: 11px;
      position: relative;
      top: -2px;
    }
    &--rss{
      background-color: #FF8A00;
    }
    &--telegram{
      width: 16px;
      height: 16px;
    }
  }
h1, h2{
  margin: 0;
  margin-right: 14px;
  font-family: $r-bl;
  color: $blue;
  font-size: 19px;
  text-transform: uppercase;
  // flex-shrink: 0;
}
.li-portrait{
  position: relative;
  width: 100%;
  max-width: 130px;
  height: 130px;
  img{
    @include absolute-center;
    // left: 0;
    // transform: translate(0, -50%);
  }
}
.li-person-name{
  font-family: $r-b;
  font-size: 14px;
  color: #141414;
}
.slick-prev, .slick-next{
  width: 39px;
  height: 39px;
  background-color: $blue;
  opacity: .6;
  z-index: 1;

  &:before{
    content: '';
  }
  &:after{
    content: '';
    display: block;
    @include absolute-center-old;
  }

  &:hover, &:active, &:focus{
    opacity: .85;
  }
  

}
.slick-prev{
  &:after{
    @extend .chev-left;
  }
} 
.slick-next{
  &:after{
    @extend .chev-right;
  }
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  color: initial;
    outline: none;
  background-color: $blue; 
}
.slick-dots li button:before{
  content: "";
}
.slick-dots li{
  width: 7px;
  height: 7px;
  margin: 0 6px;
  &.slick-active{
    button{
      transform: scale(1.1);
    background-color: $blue;
    }
  }
}
.slick-dots li button {
  width: 7px;
  height: 7px;
  background-color: #B2B2B2;
  transition: all .2s;

  &:hover, &:active{
    transform: scale(1.1);
    background-color: $blue;
  }
  
}
.more-container{
  margin-top: 15px;
}
.li-red-link{
  display: inline-block;
  position: relative;
  color: #f34e38;
  text-transform: uppercase;
  text-decoration: none;


  &:after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    position: relative;
    top: -2px;
    // position: absolute;
    margin-left: 6px;
    // vertical-align: middle;
    border: 1px solid #f34e38;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);

  }

  &:hover, &:active{
    color: #9b0c0f;
    text-decoration: underline;

    &:after{
      border-color: #9b0c0f;
    }
  }
  
}
.li-paragraph-blue{
  line-height: 19px;
  color: #34495e;
  font-family: $r-m;
}
.li-banners-wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .li-banner-wrap{
    img{
      max-width: 100%;
    }
  }

  &--double{
    justify-content: space-around;

    .li-banner-wrap{
      width: 100%;
      max-width: 240px;
    }
  }
}
.height-covered{
  position: relative;
  &:hover, &:active{
      max-height: initial;

      .height-cover{
        display: none;
      }
    }
}
.height-cover{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /* Safari 5.1 - 6 */
  background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /* Opera 11.1 - 12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /* Firefox 3.6 - 15*/
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

.toggle-mnu{

  display: block;
  width: 19px;
  height: 12px;
  // margin-top: 14px;
  margin-left: 5px;
  flex-shrink: 0;

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: 5px;
  } 

  span:after{

    top: 10px;
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(-3px, 0px);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(4px, -7px);
  } 
} 
.header-top{
  .toggle-mnu{
    display: none;
  }
}

.breadcrumbs{
  margin-top: 5px;
  padding-bottom: 7px;
  border-bottom: 1px dashed $line;

  li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;


    &:after{
      content: '';
      @extend .ico-breadcrumbs-after;
      display: inline-block;
      margin: 0 8px;
      vertical-align: middle;
    }

    a{
      color: $blue;
      font-family: $r-m;
      text-decoration: none;
    }

    &.active{
      a{
        color: #7b7b7b;
      }
      &:after{
        display: none;
      }
    }


  }
}
.li-pagination{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}
.li-pagination__list{
  li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;

    a{
      display: block;
      width: 28px;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      text-align: center;
      color: #fff;
      background-color: $f4;
      text-decoration: none;

      &:hover, &:active{
        background-color: $accent;
      }
      
    }

    &.active{
      a{
        background-color: $accent;
      }
    }
  }
}
.li-pagination__prev,
.li-pagination__next{
  span{
    margin: 0 7px;
    text-transform: uppercase;
    color: $accent;
    vertical-align: middle;

  }
  &:hover, &:active{
    text-decoration: none;
  }
  
}
/* end main styles */