$accent: #C71015;
$accent-hover: #9B0C0F;
$gray: #F4F4F4;
$blue: #23485F;
$green: #40B273;
$text-light-blue: #9f9f9f;
$f4: #F4F4F4;
$line: #E7E7E7;
$red-hover: #f34e38;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px);

$gutter: $grid-gutter-width;

$r-r: 'RobotoRegular', sans-serif;
$r-l: 'RobotoLight', sans-serif;
$r-m: 'RobotoMedium', sans-serif;
$r-b: 'RobotoBold', sans-serif;
$r-bl: 'RobotoBlack', sans-serif;
$iconic: 'fontello';


