// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bell-name: 'bell';
$bell-x: 0px;
$bell-y: 74px;
$bell-offset-x: 0px;
$bell-offset-y: -74px;
$bell-width: 19px;
$bell-height: 18px;
$bell-total-width: 121px;
$bell-total-height: 106px;
$bell-image: '../img/sprite.png';
$bell: (0px, 74px, 0px, -74px, 19px, 18px, 121px, 106px, '../img/sprite.png', 'bell', );
$chev-left-name: 'chev-left';
$chev-left-x: 111px;
$chev-left-y: 0px;
$chev-left-offset-x: -111px;
$chev-left-offset-y: 0px;
$chev-left-width: 10px;
$chev-left-height: 15px;
$chev-left-total-width: 121px;
$chev-left-total-height: 106px;
$chev-left-image: '../img/sprite.png';
$chev-left: (111px, 0px, -111px, 0px, 10px, 15px, 121px, 106px, '../img/sprite.png', 'chev-left', );
$chev-right-name: 'chev-right';
$chev-right-x: 111px;
$chev-right-y: 20px;
$chev-right-offset-x: -111px;
$chev-right-offset-y: -20px;
$chev-right-width: 10px;
$chev-right-height: 15px;
$chev-right-total-width: 121px;
$chev-right-total-height: 106px;
$chev-right-image: '../img/sprite.png';
$chev-right: (111px, 20px, -111px, -20px, 10px, 15px, 121px, 106px, '../img/sprite.png', 'chev-right', );
$chev-top-name: 'chev-top';
$chev-top-x: 0px;
$chev-top-y: 97px;
$chev-top-offset-x: 0px;
$chev-top-offset-y: -97px;
$chev-top-width: 14px;
$chev-top-height: 9px;
$chev-top-total-width: 121px;
$chev-top-total-height: 106px;
$chev-top-image: '../img/sprite.png';
$chev-top: (0px, 97px, 0px, -97px, 14px, 9px, 121px, 106px, '../img/sprite.png', 'chev-top', );
$enter-fb-name: 'enter-fb';
$enter-fb-x: 37px;
$enter-fb-y: 37px;
$enter-fb-offset-x: -37px;
$enter-fb-offset-y: -37px;
$enter-fb-width: 32px;
$enter-fb-height: 32px;
$enter-fb-total-width: 121px;
$enter-fb-total-height: 106px;
$enter-fb-image: '../img/sprite.png';
$enter-fb: (37px, 37px, -37px, -37px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-fb', );
$enter-in-name: 'enter-in';
$enter-in-x: 74px;
$enter-in-y: 0px;
$enter-in-offset-x: -74px;
$enter-in-offset-y: 0px;
$enter-in-width: 32px;
$enter-in-height: 32px;
$enter-in-total-width: 121px;
$enter-in-total-height: 106px;
$enter-in-image: '../img/sprite.png';
$enter-in: (74px, 0px, -74px, 0px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-in', );
$enter-mw-name: 'enter-mw';
$enter-mw-x: 74px;
$enter-mw-y: 37px;
$enter-mw-offset-x: -74px;
$enter-mw-offset-y: -37px;
$enter-mw-width: 32px;
$enter-mw-height: 32px;
$enter-mw-total-width: 121px;
$enter-mw-total-height: 106px;
$enter-mw-image: '../img/sprite.png';
$enter-mw: (74px, 37px, -74px, -37px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-mw', );
$enter-ok-name: 'enter-ok';
$enter-ok-x: 0px;
$enter-ok-y: 0px;
$enter-ok-offset-x: 0px;
$enter-ok-offset-y: 0px;
$enter-ok-width: 32px;
$enter-ok-height: 32px;
$enter-ok-total-width: 121px;
$enter-ok-total-height: 106px;
$enter-ok-image: '../img/sprite.png';
$enter-ok: (0px, 0px, 0px, 0px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-ok', );
$enter-twi-name: 'enter-twi';
$enter-twi-x: 0px;
$enter-twi-y: 37px;
$enter-twi-offset-x: 0px;
$enter-twi-offset-y: -37px;
$enter-twi-width: 32px;
$enter-twi-height: 32px;
$enter-twi-total-width: 121px;
$enter-twi-total-height: 106px;
$enter-twi-image: '../img/sprite.png';
$enter-twi: (0px, 37px, 0px, -37px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-twi', );
$enter-vk-name: 'enter-vk';
$enter-vk-x: 37px;
$enter-vk-y: 0px;
$enter-vk-offset-x: -37px;
$enter-vk-offset-y: 0px;
$enter-vk-width: 32px;
$enter-vk-height: 32px;
$enter-vk-total-width: 121px;
$enter-vk-total-height: 106px;
$enter-vk-image: '../img/sprite.png';
$enter-vk: (37px, 0px, -37px, 0px, 32px, 32px, 121px, 106px, '../img/sprite.png', 'enter-vk', );
$home-name: 'home';
$home-x: 89px;
$home-y: 74px;
$home-offset-x: -89px;
$home-offset-y: -74px;
$home-width: 14px;
$home-height: 13px;
$home-total-width: 121px;
$home-total-height: 106px;
$home-image: '../img/sprite.png';
$home: (89px, 74px, -89px, -74px, 14px, 13px, 121px, 106px, '../img/sprite.png', 'home', );
$magnifier-name: 'magnifier';
$magnifier-x: 49px;
$magnifier-y: 74px;
$magnifier-offset-x: -49px;
$magnifier-offset-y: -74px;
$magnifier-width: 15px;
$magnifier-height: 15px;
$magnifier-total-width: 121px;
$magnifier-total-height: 106px;
$magnifier-image: '../img/sprite.png';
$magnifier: (49px, 74px, -49px, -74px, 15px, 15px, 121px, 106px, '../img/sprite.png', 'magnifier', );
$mail-name: 'mail';
$mail-x: 24px;
$mail-y: 74px;
$mail-offset-x: -24px;
$mail-offset-y: -74px;
$mail-width: 20px;
$mail-height: 15px;
$mail-total-width: 121px;
$mail-total-height: 106px;
$mail-image: '../img/sprite.png';
$mail: (24px, 74px, -24px, -74px, 20px, 15px, 121px, 106px, '../img/sprite.png', 'mail', );
$site-map-name: 'site-map';
$site-map-x: 69px;
$site-map-y: 74px;
$site-map-offset-x: -69px;
$site-map-offset-y: -74px;
$site-map-width: 15px;
$site-map-height: 15px;
$site-map-total-width: 121px;
$site-map-total-height: 106px;
$site-map-image: '../img/sprite.png';
$site-map: (69px, 74px, -69px, -74px, 15px, 15px, 121px, 106px, '../img/sprite.png', 'site-map', );
$spritesheet-width: 121px;
$spritesheet-height: 106px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bell, $chev-left, $chev-right, $chev-top, $enter-fb, $enter-in, $enter-mw, $enter-ok, $enter-twi, $enter-vk, $home, $magnifier, $mail, $site-map, );
$spritesheet: (121px, 106px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
