// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bell-name: 'bell';
$bell-x: 111px;
$bell-y: 26px;
$bell-offset-x: -111px;
$bell-offset-y: -26px;
$bell-width: 19px;
$bell-height: 18px;
$bell-total-width: 146px;
$bell-total-height: 113px;
$bell-image: '../img/sprite.png';
$bell: (111px, 26px, -111px, -26px, 19px, 18px, 146px, 113px, '../img/sprite.png', 'bell', );
$chev-left-name: 'chev-left';
$chev-left-x: 94px;
$chev-left-y: 74px;
$chev-left-offset-x: -94px;
$chev-left-offset-y: -74px;
$chev-left-width: 10px;
$chev-left-height: 15px;
$chev-left-total-width: 146px;
$chev-left-total-height: 113px;
$chev-left-image: '../img/sprite.png';
$chev-left: (94px, 74px, -94px, -74px, 10px, 15px, 146px, 113px, '../img/sprite.png', 'chev-left', );
$chev-right-name: 'chev-right';
$chev-right-x: 136px;
$chev-right-y: 0px;
$chev-right-offset-x: -136px;
$chev-right-offset-y: 0px;
$chev-right-width: 10px;
$chev-right-height: 15px;
$chev-right-total-width: 146px;
$chev-right-total-height: 113px;
$chev-right-image: '../img/sprite.png';
$chev-right: (136px, 0px, -136px, 0px, 10px, 15px, 146px, 113px, '../img/sprite.png', 'chev-right', );
$chev-top-name: 'chev-top';
$chev-top-x: 72px;
$chev-top-y: 99px;
$chev-top-offset-x: -72px;
$chev-top-offset-y: -99px;
$chev-top-width: 14px;
$chev-top-height: 9px;
$chev-top-total-width: 146px;
$chev-top-total-height: 113px;
$chev-top-image: '../img/sprite.png';
$chev-top: (72px, 99px, -72px, -99px, 14px, 9px, 146px, 113px, '../img/sprite.png', 'chev-top', );
$enter-fb-name: 'enter-fb';
$enter-fb-x: 0px;
$enter-fb-y: 37px;
$enter-fb-offset-x: 0px;
$enter-fb-offset-y: -37px;
$enter-fb-width: 32px;
$enter-fb-height: 32px;
$enter-fb-total-width: 146px;
$enter-fb-total-height: 113px;
$enter-fb-image: '../img/sprite.png';
$enter-fb: (0px, 37px, 0px, -37px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-fb', );
$enter-in-name: 'enter-in';
$enter-in-x: 37px;
$enter-in-y: 37px;
$enter-in-offset-x: -37px;
$enter-in-offset-y: -37px;
$enter-in-width: 32px;
$enter-in-height: 32px;
$enter-in-total-width: 146px;
$enter-in-total-height: 113px;
$enter-in-image: '../img/sprite.png';
$enter-in: (37px, 37px, -37px, -37px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-in', );
$enter-mw-name: 'enter-mw';
$enter-mw-x: 74px;
$enter-mw-y: 0px;
$enter-mw-offset-x: -74px;
$enter-mw-offset-y: 0px;
$enter-mw-width: 32px;
$enter-mw-height: 32px;
$enter-mw-total-width: 146px;
$enter-mw-total-height: 113px;
$enter-mw-image: '../img/sprite.png';
$enter-mw: (74px, 0px, -74px, 0px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-mw', );
$enter-ok-name: 'enter-ok';
$enter-ok-x: 0px;
$enter-ok-y: 0px;
$enter-ok-offset-x: 0px;
$enter-ok-offset-y: 0px;
$enter-ok-width: 32px;
$enter-ok-height: 32px;
$enter-ok-total-width: 146px;
$enter-ok-total-height: 113px;
$enter-ok-image: '../img/sprite.png';
$enter-ok: (0px, 0px, 0px, 0px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-ok', );
$enter-twi-name: 'enter-twi';
$enter-twi-x: 74px;
$enter-twi-y: 37px;
$enter-twi-offset-x: -74px;
$enter-twi-offset-y: -37px;
$enter-twi-width: 32px;
$enter-twi-height: 32px;
$enter-twi-total-width: 146px;
$enter-twi-total-height: 113px;
$enter-twi-image: '../img/sprite.png';
$enter-twi: (74px, 37px, -74px, -37px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-twi', );
$enter-vk-name: 'enter-vk';
$enter-vk-x: 37px;
$enter-vk-y: 0px;
$enter-vk-offset-x: -37px;
$enter-vk-offset-y: 0px;
$enter-vk-width: 32px;
$enter-vk-height: 32px;
$enter-vk-total-width: 146px;
$enter-vk-total-height: 113px;
$enter-vk-image: '../img/sprite.png';
$enter-vk: (37px, 0px, -37px, 0px, 32px, 32px, 146px, 113px, '../img/sprite.png', 'enter-vk', );
$eye-name: 'eye';
$eye-x: 109px;
$eye-y: 99px;
$eye-offset-x: -109px;
$eye-offset-y: -99px;
$eye-width: 13px;
$eye-height: 9px;
$eye-total-width: 146px;
$eye-total-height: 113px;
$eye-image: '../img/sprite.png';
$eye: (109px, 99px, -109px, -99px, 13px, 9px, 146px, 113px, '../img/sprite.png', 'eye', );
$home-name: 'home';
$home-x: 19px;
$home-y: 99px;
$home-offset-x: -19px;
$home-offset-y: -99px;
$home-width: 14px;
$home-height: 13px;
$home-total-width: 146px;
$home-total-height: 113px;
$home-image: '../img/sprite.png';
$home: (19px, 99px, -19px, -99px, 14px, 13px, 146px, 113px, '../img/sprite.png', 'home', );
$ico-calendar-name: 'ico-calendar';
$ico-calendar-x: 0px;
$ico-calendar-y: 99px;
$ico-calendar-offset-x: 0px;
$ico-calendar-offset-y: -99px;
$ico-calendar-width: 14px;
$ico-calendar-height: 14px;
$ico-calendar-total-width: 146px;
$ico-calendar-total-height: 113px;
$ico-calendar-image: '../img/sprite.png';
$ico-calendar: (0px, 99px, 0px, -99px, 14px, 14px, 146px, 113px, '../img/sprite.png', 'ico-calendar', );
$ico-case-wt-name: 'ico-case-wt';
$ico-case-wt-x: 0px;
$ico-case-wt-y: 74px;
$ico-case-wt-offset-x: 0px;
$ico-case-wt-offset-y: -74px;
$ico-case-wt-width: 23px;
$ico-case-wt-height: 20px;
$ico-case-wt-total-width: 146px;
$ico-case-wt-total-height: 113px;
$ico-case-wt-image: '../img/sprite.png';
$ico-case-wt: (0px, 74px, 0px, -74px, 23px, 20px, 146px, 113px, '../img/sprite.png', 'ico-case-wt', );
$ico-checklist-name: 'ico-checklist';
$ico-checklist-x: 111px;
$ico-checklist-y: 0px;
$ico-checklist-offset-x: -111px;
$ico-checklist-offset-y: 0px;
$ico-checklist-width: 20px;
$ico-checklist-height: 21px;
$ico-checklist-total-width: 146px;
$ico-checklist-total-height: 113px;
$ico-checklist-image: '../img/sprite.png';
$ico-checklist: (111px, 0px, -111px, 0px, 20px, 21px, 146px, 113px, '../img/sprite.png', 'ico-checklist', );
$ico-eye-name: 'ico-eye';
$ico-eye-x: 91px;
$ico-eye-y: 99px;
$ico-eye-offset-x: -91px;
$ico-eye-offset-y: -99px;
$ico-eye-width: 13px;
$ico-eye-height: 9px;
$ico-eye-total-width: 146px;
$ico-eye-total-height: 113px;
$ico-eye-image: '../img/sprite.png';
$ico-eye: (91px, 99px, -91px, -99px, 13px, 9px, 146px, 113px, '../img/sprite.png', 'ico-eye', );
$ico-quote-mini-name: 'ico-quote-mini';
$ico-quote-mini-x: 38px;
$ico-quote-mini-y: 99px;
$ico-quote-mini-offset-x: -38px;
$ico-quote-mini-offset-y: -99px;
$ico-quote-mini-width: 12px;
$ico-quote-mini-height: 12px;
$ico-quote-mini-total-width: 146px;
$ico-quote-mini-total-height: 113px;
$ico-quote-mini-image: '../img/sprite.png';
$ico-quote-mini: (38px, 99px, -38px, -99px, 12px, 12px, 146px, 113px, '../img/sprite.png', 'ico-quote-mini', );
$ico-telegram-mini-name: 'ico-telegram-mini';
$ico-telegram-mini-x: 111px;
$ico-telegram-mini-y: 69px;
$ico-telegram-mini-offset-x: -111px;
$ico-telegram-mini-offset-y: -69px;
$ico-telegram-mini-width: 16px;
$ico-telegram-mini-height: 16px;
$ico-telegram-mini-total-width: 146px;
$ico-telegram-mini-total-height: 113px;
$ico-telegram-mini-image: '../img/sprite.png';
$ico-telegram-mini: (111px, 69px, -111px, -69px, 16px, 16px, 146px, 113px, '../img/sprite.png', 'ico-telegram-mini', );
$magnifier-name: 'magnifier';
$magnifier-x: 54px;
$magnifier-y: 74px;
$magnifier-offset-x: -54px;
$magnifier-offset-y: -74px;
$magnifier-width: 15px;
$magnifier-height: 15px;
$magnifier-total-width: 146px;
$magnifier-total-height: 113px;
$magnifier-image: '../img/sprite.png';
$magnifier: (54px, 74px, -54px, -74px, 15px, 15px, 146px, 113px, '../img/sprite.png', 'magnifier', );
$mail-name: 'mail';
$mail-x: 111px;
$mail-y: 49px;
$mail-offset-x: -111px;
$mail-offset-y: -49px;
$mail-width: 20px;
$mail-height: 15px;
$mail-total-width: 146px;
$mail-total-height: 113px;
$mail-image: '../img/sprite.png';
$mail: (111px, 49px, -111px, -49px, 20px, 15px, 146px, 113px, '../img/sprite.png', 'mail', );
$quote-mini-name: 'quote-mini';
$quote-mini-x: 55px;
$quote-mini-y: 99px;
$quote-mini-offset-x: -55px;
$quote-mini-offset-y: -99px;
$quote-mini-width: 12px;
$quote-mini-height: 12px;
$quote-mini-total-width: 146px;
$quote-mini-total-height: 113px;
$quote-mini-image: '../img/sprite.png';
$quote-mini: (55px, 99px, -55px, -99px, 12px, 12px, 146px, 113px, '../img/sprite.png', 'quote-mini', );
$quote-name: 'quote';
$quote-x: 28px;
$quote-y: 74px;
$quote-offset-x: -28px;
$quote-offset-y: -74px;
$quote-width: 21px;
$quote-height: 15px;
$quote-total-width: 146px;
$quote-total-height: 113px;
$quote-image: '../img/sprite.png';
$quote: (28px, 74px, -28px, -74px, 21px, 15px, 146px, 113px, '../img/sprite.png', 'quote', );
$site-map-name: 'site-map';
$site-map-x: 74px;
$site-map-y: 74px;
$site-map-offset-x: -74px;
$site-map-offset-y: -74px;
$site-map-width: 15px;
$site-map-height: 15px;
$site-map-total-width: 146px;
$site-map-total-height: 113px;
$site-map-image: '../img/sprite.png';
$site-map: (74px, 74px, -74px, -74px, 15px, 15px, 146px, 113px, '../img/sprite.png', 'site-map', );
$spritesheet-width: 146px;
$spritesheet-height: 113px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bell, $chev-left, $chev-right, $chev-top, $enter-fb, $enter-in, $enter-mw, $enter-ok, $enter-twi, $enter-vk, $eye, $home, $ico-calendar, $ico-case-wt, $ico-checklist, $ico-eye, $ico-quote-mini, $ico-telegram-mini, $magnifier, $mail, $quote-mini, $quote, $site-map, );
$spritesheet: (146px, 113px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
