// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bell-name: 'bell';
$bell-x: 122px;
$bell-y: 37px;
$bell-offset-x: -122px;
$bell-offset-y: -37px;
$bell-width: 19px;
$bell-height: 18px;
$bell-total-width: 154px;
$bell-total-height: 121px;
$bell-image: '../img/sprite.png';
$bell: (122px, 37px, -122px, -37px, 19px, 18px, 154px, 121px, '../img/sprite.png', 'bell', );
$chev-left-name: 'chev-left';
$chev-left-x: 0px;
$chev-left-y: 106px;
$chev-left-offset-x: 0px;
$chev-left-offset-y: -106px;
$chev-left-width: 10px;
$chev-left-height: 15px;
$chev-left-total-width: 154px;
$chev-left-total-height: 121px;
$chev-left-image: '../img/sprite.png';
$chev-left: (0px, 106px, 0px, -106px, 10px, 15px, 154px, 121px, '../img/sprite.png', 'chev-left', );
$chev-right-name: 'chev-right';
$chev-right-x: 15px;
$chev-right-y: 106px;
$chev-right-offset-x: -15px;
$chev-right-offset-y: -106px;
$chev-right-width: 10px;
$chev-right-height: 15px;
$chev-right-total-width: 154px;
$chev-right-total-height: 121px;
$chev-right-image: '../img/sprite.png';
$chev-right: (15px, 106px, -15px, -106px, 10px, 15px, 154px, 121px, '../img/sprite.png', 'chev-right', );
$chev-top-name: 'chev-top';
$chev-top-x: 101px;
$chev-top-y: 86px;
$chev-top-offset-x: -101px;
$chev-top-offset-y: -86px;
$chev-top-width: 14px;
$chev-top-height: 9px;
$chev-top-total-width: 154px;
$chev-top-total-height: 121px;
$chev-top-image: '../img/sprite.png';
$chev-top: (101px, 86px, -101px, -86px, 14px, 9px, 154px, 121px, '../img/sprite.png', 'chev-top', );
$enter-fb-name: 'enter-fb';
$enter-fb-x: 0px;
$enter-fb-y: 49px;
$enter-fb-offset-x: 0px;
$enter-fb-offset-y: -49px;
$enter-fb-width: 32px;
$enter-fb-height: 32px;
$enter-fb-total-width: 154px;
$enter-fb-total-height: 121px;
$enter-fb-image: '../img/sprite.png';
$enter-fb: (0px, 49px, 0px, -49px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-fb', );
$enter-in-name: 'enter-in';
$enter-in-x: 37px;
$enter-in-y: 49px;
$enter-in-offset-x: -37px;
$enter-in-offset-y: -49px;
$enter-in-width: 32px;
$enter-in-height: 32px;
$enter-in-total-width: 154px;
$enter-in-total-height: 121px;
$enter-in-image: '../img/sprite.png';
$enter-in: (37px, 49px, -37px, -49px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-in', );
$enter-mw-name: 'enter-mw';
$enter-mw-x: 74px;
$enter-mw-y: 49px;
$enter-mw-offset-x: -74px;
$enter-mw-offset-y: -49px;
$enter-mw-width: 32px;
$enter-mw-height: 32px;
$enter-mw-total-width: 154px;
$enter-mw-total-height: 121px;
$enter-mw-image: '../img/sprite.png';
$enter-mw: (74px, 49px, -74px, -49px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-mw', );
$enter-ok-name: 'enter-ok';
$enter-ok-x: 122px;
$enter-ok-y: 0px;
$enter-ok-offset-x: -122px;
$enter-ok-offset-y: 0px;
$enter-ok-width: 32px;
$enter-ok-height: 32px;
$enter-ok-total-width: 154px;
$enter-ok-total-height: 121px;
$enter-ok-image: '../img/sprite.png';
$enter-ok: (122px, 0px, -122px, 0px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-ok', );
$enter-twi-name: 'enter-twi';
$enter-twi-x: 85px;
$enter-twi-y: 0px;
$enter-twi-offset-x: -85px;
$enter-twi-offset-y: 0px;
$enter-twi-width: 32px;
$enter-twi-height: 32px;
$enter-twi-total-width: 154px;
$enter-twi-total-height: 121px;
$enter-twi-image: '../img/sprite.png';
$enter-twi: (85px, 0px, -85px, 0px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-twi', );
$enter-vk-name: 'enter-vk';
$enter-vk-x: 48px;
$enter-vk-y: 0px;
$enter-vk-offset-x: -48px;
$enter-vk-offset-y: 0px;
$enter-vk-width: 32px;
$enter-vk-height: 32px;
$enter-vk-total-width: 154px;
$enter-vk-total-height: 121px;
$enter-vk-image: '../img/sprite.png';
$enter-vk: (48px, 0px, -48px, 0px, 32px, 32px, 154px, 121px, '../img/sprite.png', 'enter-vk', );
$eye-name: 'eye';
$eye-x: 120px;
$eye-y: 86px;
$eye-offset-x: -120px;
$eye-offset-y: -86px;
$eye-width: 13px;
$eye-height: 9px;
$eye-total-width: 154px;
$eye-total-height: 121px;
$eye-image: '../img/sprite.png';
$eye: (120px, 86px, -120px, -86px, 13px, 9px, 154px, 121px, '../img/sprite.png', 'eye', );
$home-name: 'home';
$home-x: 65px;
$home-y: 86px;
$home-offset-x: -65px;
$home-offset-y: -86px;
$home-width: 14px;
$home-height: 13px;
$home-total-width: 154px;
$home-total-height: 121px;
$home-image: '../img/sprite.png';
$home: (65px, 86px, -65px, -86px, 14px, 13px, 154px, 121px, '../img/sprite.png', 'home', );
$ico-calendar-name: 'ico-calendar';
$ico-calendar-x: 0px;
$ico-calendar-y: 0px;
$ico-calendar-offset-x: 0px;
$ico-calendar-offset-y: 0px;
$ico-calendar-width: 43px;
$ico-calendar-height: 44px;
$ico-calendar-total-width: 154px;
$ico-calendar-total-height: 121px;
$ico-calendar-image: '../img/sprite.png';
$ico-calendar: (0px, 0px, 0px, 0px, 43px, 44px, 154px, 121px, '../img/sprite.png', 'ico-calendar', );
$magnifier-name: 'magnifier';
$magnifier-x: 25px;
$magnifier-y: 86px;
$magnifier-offset-x: -25px;
$magnifier-offset-y: -86px;
$magnifier-width: 15px;
$magnifier-height: 15px;
$magnifier-total-width: 154px;
$magnifier-total-height: 121px;
$magnifier-image: '../img/sprite.png';
$magnifier: (25px, 86px, -25px, -86px, 15px, 15px, 154px, 121px, '../img/sprite.png', 'magnifier', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 86px;
$mail-offset-x: 0px;
$mail-offset-y: -86px;
$mail-width: 20px;
$mail-height: 15px;
$mail-total-width: 154px;
$mail-total-height: 121px;
$mail-image: '../img/sprite.png';
$mail: (0px, 86px, 0px, -86px, 20px, 15px, 154px, 121px, '../img/sprite.png', 'mail', );
$quote-mini-name: 'quote-mini';
$quote-mini-x: 84px;
$quote-mini-y: 86px;
$quote-mini-offset-x: -84px;
$quote-mini-offset-y: -86px;
$quote-mini-width: 12px;
$quote-mini-height: 12px;
$quote-mini-total-width: 154px;
$quote-mini-total-height: 121px;
$quote-mini-image: '../img/sprite.png';
$quote-mini: (84px, 86px, -84px, -86px, 12px, 12px, 154px, 121px, '../img/sprite.png', 'quote-mini', );
$quote-name: 'quote';
$quote-x: 122px;
$quote-y: 60px;
$quote-offset-x: -122px;
$quote-offset-y: -60px;
$quote-width: 21px;
$quote-height: 15px;
$quote-total-width: 154px;
$quote-total-height: 121px;
$quote-image: '../img/sprite.png';
$quote: (122px, 60px, -122px, -60px, 21px, 15px, 154px, 121px, '../img/sprite.png', 'quote', );
$site-map-name: 'site-map';
$site-map-x: 45px;
$site-map-y: 86px;
$site-map-offset-x: -45px;
$site-map-offset-y: -86px;
$site-map-width: 15px;
$site-map-height: 15px;
$site-map-total-width: 154px;
$site-map-total-height: 121px;
$site-map-image: '../img/sprite.png';
$site-map: (45px, 86px, -45px, -86px, 15px, 15px, 154px, 121px, '../img/sprite.png', 'site-map', );
$spritesheet-width: 154px;
$spritesheet-height: 121px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bell, $chev-left, $chev-right, $chev-top, $enter-fb, $enter-in, $enter-mw, $enter-ok, $enter-twi, $enter-vk, $eye, $home, $ico-calendar, $magnifier, $mail, $quote-mini, $quote, $site-map, );
$spritesheet: (154px, 121px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
