.blogs-previews__item.col-sm-6.col-md-4.col-lg-4
	.li-portrait
		img(src="img/faces/corp-1.jpg", alt="alt")
	.li-person-name Promotion Realty
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы

.blogs-previews__item.col-sm-6.col-md-4.col-lg-4
	.li-portrait
		img(src="img/faces/corp-2.jpg", alt="alt")
	.li-person-name БЕСТ-Новострой
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы

.blogs-previews__item.col-sm-6.col-md-4.col-lg-4
	.li-portrait
		img(src="img/faces/corp-1.jpg", alt="alt")
	.li-person-name Promotion Realty
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы