.blogs-previews__item.col-4
	.li-portrait
		img(src="img/faces/gordeiko.jpg", alt="alt")
	.li-person-name Сергей Гордейко
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы

.blogs-previews__item.col-4
	.li-portrait
		img(src="img/faces/vasheluk.jpg", alt="alt")
	.li-person-name Наталья Ващелюк
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы

.blogs-previews__item.col-4
	.li-portrait
		img(src="img/faces/gordeiko.jpg", alt="alt")
	.li-person-name Сергей Гордейко
	.blogs-previews__item-info
		.blogs-previews__views
			.ico-eye
			.blogs-previews__views-count 66300
		.blogs-previews__comments
			.ico-quote-mini
			a(href="#").blogs-previews__comments-conunt 0

	.blogs-previews__item-text.li-paragraph-blue Ипотечная телеграмма № 59. Хрупкое ипотечное равновесие и ипотечные каникулы