.li-popup.li-popup-blog-sbscr#li-popup-blog-sbscr.mfp-hide
	header.li-popup__header Подписка на новые сообщеия в блоге ипотека и не только - взгляд со стороны
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name E-mail:
				input.li-form-input(type="text", name="name")
			
			.li-form__buttons.text-right
				button.button.button-mini.button-l-blue OK
				button.button.button-mini.button-l-blue ОТМЕНА