.li-popup.li-popup-message#li-message-person-popup.mfp-hide
	header.li-popup__header александр савинов - отправить сообщение
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name Тема сообщения:
				input.li-form-input(type="text", name="name")
			label.li-form-label
				span.li-form-label-name Сообщение:
				textarea(name="name", cols="30", rows="10").li-form-area

			.li-form__buttons.text-center
				button.button.button-mini.button-l-blue отправить