script(src='js/libs/jquery/jquery-1.11.2.min.js')
script(src='js/libs/superfish/dist/js/hoverIntent.js')
script(src='js/libs/superfish/dist/js/superfish.min.js')
script(src='js/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
script(src='js/libs/slick-master/slick.min.js')
script(src='js/libs/jsscrollpane/js/jquery.mousewheel.js')
script(src='js/libs/jsscrollpane/js/jquery.jscrollpane.min.js')
script(src='js/libs/wnumb/wNumb.js')
script(src='js/libs/noUiSlider/nouislider.min.js')
script(src='js/libs/ikSelect/jquery.ikSelect.min.js')