.day-theme{
	margin-bottom: 15px;
}
.day-theme__text{
	font-size: 14px;
	color: #141414;
}
.day-theme__slide{
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	align-items: flex-start;
	// margin-right: 30px;

	.li-portrait{
		flex-shrink: 0;
	}
}
.day-theme__slide-text{
	margin-left: 20px;

	.li-person-name{
		margin-bottom: 13px;
	}
}

.day-theme__slider{
	margin-top: 21px;
	margin-bottom: 30px;
	.slick-slide{

		margin-right: 30px;
	}
	.slick-prev{
		left: -10px;
	}
	.slick-next{
		right: -10px;
	}
}
.day-theme__bottom{
	.li-red-link{
		top: -20px;
	}
}