.footer{
	margin-top: 40px;
	padding-top: 30px;
	border-top: 2px solid $line;
}
.footer-column{
	&--vk{
		img{
			max-width: 100%;
		}
	}
}
.footer-column__title{
	margin-bottom: 12px;
	font-size: 14px;
	font-family: $r-b;
	text-transform: uppercase;
}
.footer-column__menu{
	li{
		margin-bottom: 12px;
		list-style-type: none;

		a{
			font-size: 13px;
			color: $text-light-blue;
		}

		&:last-child{
			margin-bottom: 0;
		}

	}
}