.footer{
	margin-top: 40px;
}
.footer-top__wrapper{
	padding-top: 30px;
	position: relative;
	// border-top: 2px solid $line;
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 15px;
		top: 0;
		width: calc(100% - 30px);
		height: 2px;
		background-color: $line;

	}
}
.footer-top__columns{
	justify-content: space-between;
	position: relative;

}
.footer-cookies{
	width: 190px;
	position: absolute;
	right: 0;
	top: 8px;
	padding: 12px 20px;
	background-color: rgba($blue, .6);
	z-index: 20;

	span{
		display: block;
		color: #fff;
		margin-bottom: 5px;
	}
	a{
		display: block;
		color: #7eb7e0;
	}
	.sp-icon{
		position: absolute;
		top: 7px;
		right: 10px;
		cursor: pointer;
	}
}
.footer-column{
	margin-bottom: 26px;
	margin-left: 15px;
	margin-right: 15px;
	&--vk{
		img{
			max-width: 100%;
		}
	}
}
.footer-column__title{
	margin-bottom: 12px;
	font-size: 14px;
	font-family: $r-b;
	text-transform: uppercase;
}
.footer-column__menu{
	li{
		margin-bottom: 12px;
		list-style-type: none;

		a{
			font-size: 13px;
			color: $text-light-blue;

			&:hover, &:active{
				color: #7c7c7c;
				text-decoration: none;
			}
			
		}

		&:last-child{
			margin-bottom: 0;
		}

	}
}
.footer-middle{
	padding: 28px 0;
	background-color: $f4;

	p{
		margin: 0;
		color: $text-light-blue;
		font-size: 11px;
	}
}
.footer-bottom{
	padding: 24px 0;
	background-color: $blue;

	font-size: 11px;
}
.footer-bottom__menu{
		li{
			margin-bottom: 5px;	
			list-style-type: none;	
			a{
					color: #819bb4;
				letter-spacing: -.2px;

				&:hover, &:active{
					text-decoration: none;
					color: #d7dbde;
				}
				
			}
		}
}
.footer-bottom__column{
	margin-left: 15px;
	margin-right: 15px;
}
.footer-copyright{
	margin-top: 13px;
	div{
		&:first-child{
			color: #fff;
			font-size: 11px;
		}
		&:last-child{
			color: #819bb4;
		}

	}
}
.footer-socials-links{
	display: none;
	margin-bottom: 17px;
}
.footer-social-link{
	span, .sp-icon{
		display: inline-block;
		vertical-align: middle;
	}
	.sp-icon{
		margin-right: 7px;
	}
	span{
		color: $blue;
	}
}
.footer-bottom__inner{
	justify-content: space-between;
}
.footer-statistic{
	img{
		margin: 0 1px;
		vertical-align: middle;
	}
}