/* news-block */
.news-block{
	.more-container{
		margin-top: 0;
	}
}
.news-subscribe{
	padding: 8px 10px 13px 10px;
	padding-bottom: 13px;
	margin-bottom: 18px;
	background-color: #597DA3;
}
.news-subscribe__title{
	margin-bottom: 5px;
	font-size: 13px;
	font-family: $r-m;
	color: #fff;
}
.news-subscribe__body{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	input{
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		width: 134px;
		border: none;
		// flex: 1 1 auto;
	}

	.button{
		flex-shrink: 0;
		margin-left: 4px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.news-item{
	position: relative;
	padding: 13px 0;
	// border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;

	&:first-child{
		padding-top: 0;
		
	}

	&:last-child{
		border-bottom: none;
	}

	.ico-telegram-mini{
		position: absolute;
		top: 14px;
		right: 0;
	}

}
.news-item__title{
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: $r-m;
}
.news-item__text{
	color: #34495e;

	img{
		max-width: 115px;
		max-height: 115px;
		display: inline-block;
		margin-right: 4px;
	}
	&:hover, &:active{
		color: #da383f;
		text-decoration: none;
	}
	
}
/* end news-block */