/* personal-blogs */
.blogs-previews__banner{
	padding-bottom: 30px;
	text-align: center;

	img{
		max-width: 100%;
	}
}
.li-tabs{
	.tabs__list{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;

	}
	.tabs__item{
		list-style-type: none;

		&--active{
			.tabs__link{
				background-color: $accent;
				color: #fff;
			}
		}
	}
	.tabs__link{
		display: block;
		padding: 8px 12px 8px 12px;
		background-color: #34495E;
		font-size: 11px;
		color: #819bb4;

		&:hover, &:active{
			text-decoration: none;
			background-color: $accent;
			color: #fff;
		}
		
	}
}
.blogs-previews{
	margin-bottom: 26px;
}

.personal-blogs__content{
	padding-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.blogs-previews__item{
	margin-bottom: 20px;
	.li-portrait,
	.li-person-name{
		margin-bottom: 16px;
	}
}
.blogs-previews__item-info{
	margin-bottom: 16px;
}
.blogs-previews__views,
.blogs-previews__comments{
	display: inline-block;
	vertical-align: middle;

	.ico-eye,
	.blogs-previews__views-count,
	.ico-quote-mini,
	.blogs-previews__comments-conunt{
		display: inline-block;
		vertical-align: middle;
	}
}
.blogs-previews__views{
	margin-right: 14px;
}
.ico-eye,
.ico-quote-mini{
	margin-right: 2px;
}
.blogs-preview__comments-conunt{
	color: #34495e;
}
.announcements{
	.title-block{
		margin-bottom: 27px;
	}
}
.announcements-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.announcements-item{
	width: calc(33.33333% - 30px);
	margin-left: 15px;
	margin-right: 15px;
}
.announcements-item__title{
	margin-bottom: 11px;
	font-size: 14px;
	font-family: $r-b;
	color: $blue;
}
.announcements-item__header{
	margin-bottom: 10px;
}
.announcements-item__date{
	display: inline-block;
	padding: 4px 8px 4px 5px;
	background-color: $accent;
	color: #fff;

	.sp-icon{
		margin-right: 7px;
		vertical-align: middle;
	}
}
.announcements-item_date-val{
	display: inline-block;
	vertical-align: middle;
}
.announcements-item__text{
	margin: 0;
}
.personal-blogs__bottom{
	margin-top: 0;
}
/* end personal-blogs */